.blockquote {
  position: relative;
  overflow: hidden;
}
.blockquote .icon {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -10px;
  top: 5px;
  fill: $primeLight;
  opacity: .8;
  background-image: none;

  @media #{$media-lg}{
    width: 200px;
    height: 200px;
  }
}

blockquote {

  h4 {
    font-size: 30px;
    color: #fff;
  }

  cite {
    line-height: 1.4;
    font-weight:  400;
    font-size: 16px;
  }

  // &.arrow_box {
  // 	position: relative;
  // 	// background: $tertLight;
  // 	// border: 4px solid $tertLight;
  //
  // }
  // &.arrow_box:after, &.arrow_box:before {
  // 	top: 100%;
  // 	left: 80%;
  // 	border: solid transparent;
  // 	content: " ";
  // 	height: 0;
  // 	width: 0;
  // 	position: absolute;
  // 	pointer-events: none;
  // }
  //
  // &.arrow_box:after {
  // 	border-color: rgba(255, 255, 255, 0);
  // 	border-top-color: $tertLight;
  // 	border-width: 20px;
  // 	margin-left: -20px;
  // }
  // &.arrow_box:before {
  // 	border-color: rgba(255, 255, 255, 0);
  // 	border-top-color: $tertLight;
  // 	border-width: 30px;
  // 	margin-left: -30px;
  // }
}
