// heading with supporting p tag text style


.blurb {
	padding: $space/2 0;

	h3 {
		color: $linkLight;
	}

  @media #{$media-lg} {
		padding: $space 0;
	}

	h4, h5 {
		padding-bottom: 0;
		margin-bottom: 0;
		display: flex;
		align-items: top;

		svg {
			margin-right: $space/2;
			width: 45px;
			position: absolute;
		}

		span {
			margin-left: $space*2;
			display: flex;
			padding-bottom: $space/4;
		}

	}

	p {
		max-width: 500px;
		margin-bottom: 0;
		position: relative;
		margin-left: $space*2;
	}

//////////////////////////////////////
// CTA blurb
//////////////////////////////////////

	&_cta {
		border-radius:3px;
		align-items: center;
	}

	&:hover:not(.blurb_cta) {
		cursor: default;

		.blurb-icon {
			fill: $primeLight;
			@include transition();
			transition-delay: 0s;
		}

	}

}



.blurbs-left {

	.blurb {
		padding: $space/2 0;

		@media #{$media-med} {
			padding: $space/2;
		}

		@media #{$media-lg} {
			padding: $space $space $space 0;
			max-width: 90%
		}

	}

}

.blurbs-right {

	.blurb {
		padding: $space/2 0;

		@media #{$media-med} {
			padding: $space/2;
		}

		@media #{$media-lg} {
			padding: $space 0  $space $space;
			max-width: 90%
		}

	}

}
