// heading with supporting p tag text style and icon

.blurb {
	padding: $space/2 0;
	color: $tertLight;

	@media #{$media-lg} {
		padding: $space 0;
	}

	h4, h5 {
		padding-bottom: 0;
		margin-bottom: 0;
		display: flex;
		align-items: top;

		svg, .number {
			margin-right: $space;
			width: 40px;
			position: absolute;
		}

		.number {
			width: 40px;
			height: 40px;
			display: block;
			// font-size: 30px;
			font-weight: 900;
			color: #fff;
			background-image: linear-gradient(-30deg, #00A1C6 0%,  #44c4e7 80%);
			// padding: 3px 5px;
			text-align: center;
			border-radius: $btnBorderRadius;
			font-size: 40px;
			padding: 3px $space/3 $space/2;

		}

		span:not(.number) {
			margin-left: $space*2.5;
			display: flex;
			padding-bottom: $space/4;
		}

	}

	p {
		max-width: 500px;
		margin-bottom: 0;
		position: relative;
		margin-left: $space*2.5;
	}

	//////////////////////////////////////
	// CTA blurb
	//////////////////////////////////////

	&_cta {
		border-radius:3px;
		align-items: center;
	}

	&:hover:not(.blurb_cta) {
		cursor: default;

		.blurb-icon {
			fill: $primeLight;
			@include transition();
			transition-delay: 0s;
		}

	}

}

// spacing for blurbs located on the left on desktop
.blurbs-left {

	.blurb {
		padding: $space/2 0;

		@media #{$media-med} {
			padding: $space/2;
		}

		@media #{$media-lg} {
			padding: $space $space $space 0;
			max-width: 90%
		}

	}

}

// spacing for blurbs located on the right on desktop
.blurbs-right {

	.blurb {
		padding: $space/2 0;

		@media #{$media-med} {
			padding: $space/2;
		}

		@media #{$media-lg} {
			padding: $space 0 $space $space;
			max-width: 90%
		}

	}

}
