// markets grid
.markets {
	margin: 0;
	padding: 0;
	width: 100%;

	li {
		position: relative;
		height: auto;
		margin-bottom: $space/3;
		width: 100%;

		a {
			height: inherit;
			position: relative;
			display: flex;
			cursor: auto;
		}


		@media #{$media-med} {
			height: 400px;
			margin-bottom: $space;
		}

		@media #{$media-lg} {
			height: 380px;
		}

		&:nth-child(1) {

			@media #{$media-lg} {
				width: calc(40% - 15px);
			}

		}

		&:nth-child(2) {

			@media #{$media-lg} {
				width: calc(60% - 15px);
			}

		}

		&:nth-child(3) {
			@media #{$media-lg} {
				width: calc(33% - 15px);
			}
		}

		&:nth-child(4) {
			@media #{$media-lg} {
				width: calc(33% - 15px);
			}
		}

		&:nth-child(5) {
			@media #{$media-lg} {
				width: calc(33% - 15px);
			}
		}

		&:nth-child(6) {
			@media #{$media-lg} {
				width: calc(60% - 15px);
			}
		}

		&:nth-child(7) {
			@media #{$media-lg} {
				width: calc(40% - 15px);
			}
		}

		&:nth-child(8) {
			@media #{$media-lg} {
				width: calc(33% - 15px);
			}
		}

		&:nth-child(9) {
			@media #{$media-lg} {
				width: calc(33% - 15px);
			}
		}

		&:nth-child(10) {
			@media #{$media-lg} {
				width: calc(33% - 15px);
			}
		}

		&.box-2 {
			@media #{$media-lg} {
				width: calc(40% - 15px);
			}
		}

		&.box-3 {
			@media #{$media-lg} {
				width: calc(60% - 15px);
			}
		}


		div {
			display: flex;
			align-items: center;
			padding: $space 0;

			@media #{$media-lg} {
						padding:0;
			}

			article {
				display: flex;
				flex-flow: row wrap;

				>* {
					display: flex;
					flex-flow: row wrap;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		header {
			z-index: 2;
			position: absolute;
			padding: $space;

			h4 {
				color: #fff;
				text-shadow: 0px 1px 1px $darkest;
				font-size: responsive 25px 32px;
				display: block;
			}

		}
		figure, div {
			margin: 0;
			width: 100%;
			height: inherit;
			border-radius: $borderRadius;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;

			img {
				position: absolute;
				display: block;
				@include center();

				@media #{$media-med} {
					// height: 130%;
					width: auto;
					max-width: 768px;
				}

				@media #{$media-med} {
					// height: 110%;
					max-width: 800px;
				}
			}

			article {
				padding: 0 $space;
			}

			header + figure {
				figcaption {
					p {
						padding-top: $space*2;
					}
				}
			}

			figcaption {
				position: relative;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 100%;
				background-color: rgba(49, 57, 71, 0.55);
				color: #fff;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				transition: opacity .4s 0s ease-in-out;
				opacity: 0;
				text-shadow:  0 1px 1px $darkest;
				padding: $space $space/2;

				@media #{$media-med} {
					padding: 0 $space;
				}

				> p {
					font-weight: 500;

					@media #{$media-lg} {
						padding-top: $space/2;
					}
				}

				> * {
					color: #fff;
				}

				// > a {
				// 	@extend %box-link;
				// 	font-weight: 700;
				// 	text-transform: uppercase;
				// 	font-size: responsive 12px 15px;
				// 	letter-spacing: 1px;
				// }
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0px;
				right: 0px;
				width: 200px;
				height: 100px;
				animation-transform-origin: top left;
				transform-origin: top left;
				background-color: $secLight;
				// NOTE: cubic-bezier(P1x,P1y,P2x,P2y) first and last values stay between 0 and 1
				// NOTE: Learning things about cubic-bezier - the last input give it a really nice bounce!
				transition: transform .5s 0s cubic-bezier(.42, 0, .58, .98);
				transform: translate3D(0, 240%, 0) skewY(-30deg);
				border: 1px solid $secDark;

			}

		}

		@media #{$media-med} {

					&:hover figure, &.active figure {
						border-radius: $borderRadius;
						cursor: pointer;
						box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.17);

						&:after {
							transform: translate3D(0, 135%, 0) skewY(-30deg);

						}

						figcaption {
							opacity: 1;
						}

					} //end hover figure
		}

		//
		// &.active figure {
		//
		// 	figcaption {
		// 		opacity: 1;
		// 	}

		// }

	} // end li

}


// updated box styles for auto landing page
.box {
	position: relative;
	border-right: 0px solid #fff;
	padding: $space/2;
	height: 30vh;
	min-height: 250px;
	border-bottom: 1px solid #fff;
	overflow: hidden;

	&:nth-child(1), &:nth-child(3) {
		border-width: 1px;
	}

	@media #{$media-lg} {
		border-width: 1px;

		&:nth-child(3) {
			border-width: 1px;
		}

		&:nth-child(4) {
			border-right-width: 0px;
		}

	}

}

.box:last-child() {
	border-right: 0px solid #fff;
}

.box .box-overlay {
	width: inherit;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: block;
	display: flex;
	align-items: flex-end;
	transform: translateY(100%);
	@include transition();
	opacity: 0;
	align-items: center;
	background-color: $secLight;

	p {
		padding: $space/2;
		display: flex;
		// text-align:center;
		font-weight: 600;
		color: #fff;
		margin-bottom: 0;
		width: 100%;
		line-height: 1.5;

		a {
			display: flex;
		}
	}

}

.box:hover {
	@include transition();

	h4 {
		color: $grayLight;
	}

	.box-overlay {
		transform: translateY(0%);
		opacity: 1;
	}
}

.box-wrap {
	position: relative;

&.images {
	color: #fff;

	li {
			position: relative;
			overflow: hidden;
			padding: 0;
			margin: 0;


			figure {
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: $tertDark;

				img {
					@include center();
					width:auto ;
					position: absolute;
					opacity: .75;

					&.sm {
						max-width: 500px;
					}
				}

				figcaption {
					position: absolute;
					top: $space;
					left: $space;
					@include transition();
					text-shadow:  0 1px 1px $darkest;

					h3 {
						margin-bottom: 0;
					}

				} //end figcaption

			} //end figure

			article {
				position: relative;
				padding: $space;
				@include transition();

				h5 {
					margin-bottom: $space/3;
				}

				@media #{$media-lg}{
					padding: $space;
				}

			} //end article


			&:hover {

				@media #{$media-lg}{
					@include transition();

					figcaption {
						opacity: 0;
						@include transition();
					}

					article {
						opacity: 1;
						@include transition();
					}

				}

			} //end hover

			figure + article {
					text-shadow:  0 1px 1px $darkest;
					padding: $space*3 $space $space;

				@media #{$media-lg}{
					opacity: 0;
				}

			}  //end of article that follows figure

		} //end li

	} //emd images

}
