// boxes with triangle
.markets {
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			position: relative;
			height: 50vh;
			margin-bottom: $space;

			&:nth-child(1) {
				width: calc(40% - 15px);
			}

			&:nth-child(2) {
				width: calc(60% - 15px);
			}

			&:nth-child(3) {
				width: calc(33% - 15px);
			}

			&:nth-child(4) {
				width: calc(33% - 15px);
			}

			&:nth-child(5) {
				width: calc(33% - 15px);
			}

			&:nth-child(6) {
					width: calc(60% - 15px);
			}

			&:nth-child(7) {
				width: calc(40% - 15px);
			}

			&:nth-child(8) {
				width: calc(33% - 15px);
			}

			&:nth-child(9) {
				width: calc(33% - 15px);
			}

			&:nth-child(10) {
				width: calc(33% - 15px);
			}

			figure {
				margin: 0;
				width: 100%;
				height: inherit;
				border-radius: $borderRadius;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;

				img {
					position: absolute;
					min-width: 150%;
					display: block;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}

				figcaption {
					position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    background-color: rgba(49, 57, 71, 0.7);
			    padding: $space;
			    color: white;
			    display: flex;
			    flex-direction: column;
			    align-items: flex-start;
			    justify-content: center;
			    transition: opacity .4s 0s ease-in-out;
			    opacity: 0;

					> p {
						font-weight: 500;
					}

					> a {
						@extend %box-link;
						font-weight: 700;
						text-transform: uppercase;
						font-size: responsive 12px 15px;
						letter-spacing: 1px;
					}
				}

				&:after {
					 content: '';
						position: absolute;
						bottom: 0px;
						right: 0px;
						width: 200px;
						height: 100px;
						animation-transform-origin: top left;
						transform-origin: top left;
						background-color: $secLight;

						// NOTE: cubic-bezier(P1x,P1y,P2x,P2y) first and last values stay between 0 and 1
						// NOTE: Learning things about cubic-bezier - the last input give it a really nice bounce!
						transition: transform .5s 0s cubic-bezier(.42, 0, .58, .98);
						// transition: transform .5s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);
						transform: translate3D(0, 240%, 0) skewY(-30deg);
						border: 1px solid $secDark;

					}

			}

				&:hover figure {
					 border-radius: $borderRadius;
					 cursor: pointer;
			     box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.17);

			     &:after {
			       transform: translate3D(0, 135%, 0) skewY(-30deg);

			     }

					 figcaption {
						 opacity: 1;
					 }
			 }

		}
}


.box {
	position: relative;
	border-right: 0px solid #fff;
	padding: $space/2;
	height: 30vh;
	min-height: 250px;
	border-bottom: 1px solid #fff;
	overflow: hidden;

	&:nth-child(1), &:nth-child(3) {
			border-width: 1px;
	}


	@media #{$media-lg} {
		border-width: 1px;

		&:nth-child(3) {
			border-width: 1px;
		}

		&:nth-child(4) {
			border-right-width: 0px;
		}

	}

}

.box:last-child() {
	border-right: 0px solid #fff;
}

.box .box-overlay {
	width: inherit;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: block;
	display: flex;
	align-items: flex-end;
	// text-align:center;
	transform: translateY(100%);
	@include transition();
	opacity: 0;
	align-items: center;
	background-color: $secLight;

	p {
		padding: $space/2;
		display: flex;
		// text-align:center;
		font-weight: 600;
		color: #fff;
		margin-bottom: 0;
		width: 100%;

		a {
			display: flex;
		}
	}

}

.box:hover {
		@include transition();

		h4 {
			color: $grayLight;
		}

		.box-overlay {
			transform: translateY(0%);
			opacity: 1;
	}
}
