// markets grid
.markets {
	margin: 0;
	padding: 0;
	width: 100%;

	li {
		position: relative;
		height: auto;
		margin-bottom: $space/3;
		width: 100%;

		a {
			height: inherit;
			position: relative;
			display: flex;
			cursor: auto;
		}


		@media #{$media-med} {
			height: 400px;
			margin-bottom: $space;
		}

		@media #{$media-lg} {
			height: 380px;
		}

		&.box-size-1 {
			@media #{$media-lg} {
				width: calc(33% - 15px);
			}
		}

		&.box-size-2 {
			@media #{$media-lg} {
				width: calc(40% - 15px);
			}
		}

		&.box-size-3 {
			@media #{$media-lg} {
				width: calc(60% - 15px);
			}
		}


		div {
			display: flex;
			align-items: center;
			padding: $space 0;

			@media #{$media-lg} {
						padding:0;
			}

			article {
				display: flex;
				flex-flow: row wrap;

				>* {
					display: flex;
					flex-flow: row wrap;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		header {
			z-index: 2;
			position: absolute;
			padding: $space;

			h4 {
				color: #fff;
				text-shadow: 0px 1px 1px $darkest;
				font-size: responsive 25px 32px;
				display: block;
			}

		}
		figure, div {
			margin: 0;
			width: 100%;
			height: inherit;
			border-radius: $borderRadius;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;

			img {
				position: absolute;
				display: block;
				@include center();
				opacity: .9;
	      filter: grayscale(5%);

				@media #{$media-med} {
					// height: 130%;
					width: auto;
					max-width: 768px;
				}

				@media #{$media-med} {
					// height: 110%;
					max-width: 800px;
				}
			}

			article {
				padding: 0 $space;
			}

			header + figure {
				figcaption {
					p {
						padding-top: $space*2;
					}
				}
			}

			figcaption {
				position: relative;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 100%;
				background-color: rgba(49, 57, 71, 0.55);
				color: #fff;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				transition: opacity .4s 0s ease-in-out;
				opacity: 0;
				text-shadow:  0 1px 1px $darkest;
				padding: $space $space/2;

				@media #{$media-med} {
					padding: 0 $space;
				}

				> p {
					font-weight: 500;

					@media #{$media-lg} {
						padding-top: $space/2;
					}
				}

				> * {
					color: #fff;
				}
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0px;
				right: 0px;
				width: 200px;
				height: 100px;
				animation-transform-origin: top left;
				transform-origin: top left;
				background-color: $secLight;
				// NOTE: cubic-bezier(P1x,P1y,P2x,P2y) first and last values stay between 0 and 1
				// NOTE: Learning things about cubic-bezier - the last input give it a really nice bounce!
				transition: transform .5s 0s cubic-bezier(.42, 0, .58, .98);
				transform: translate3D(0, 240%, 0) skewY(-30deg);
				border: 1px solid $secDark;

			}

		}

		@media #{$media-med} {

					&:hover figure, &.active figure {
						border-radius: $borderRadius;
						cursor: pointer;
						box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.17);

						&:after {
							transform: translate3D(0, 135%, 0) skewY(-30deg);

						}

						figcaption {
							opacity: 1;
						}

					} //end hover figure
		}

	} // end li

}
