// buttons

button {
	outline: none;
	background-color: transparent;
}

//btn
.btn {
    background-color: #fff;
		border: 2px solid $secLight;
    color: $secDark;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
		// height: 50px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: $btnBorderRadius;
		padding: 18px 40px 18px 90px;
		overflow: hidden;

//btn //i
    i {
    	position: absolute;
    	left: 18px;
    	font-size: responsive 18px 30px;
    	margin-top: -3px;
    }

//btn:before
    &:before {
			// padding:$space/4;
	    position: absolute;
	    height: 200px;
	    right: 100%;
	    top: -100%;
			border-radius: $btnBorderRadius 0 0 $btnBorderRadius;
	    width: 300px;
			animation-transform-origin: top left;
			transform-origin: top left;
			transform: skewY(-30deg);
	    content: '';
	    background-color: $grayLight;
	    transition: all 0.3s;
	}

//btn:hover //:before
	&:hover::before {

		right: calc(100% - 130px);
		transition: all 0.3s;
	}

}
