// buttons

button {
	outline: none;
	background-color: transparent;
	padding: 0;
}

%btn-sm {
		@include transition();
		border-radius: $btnBorderRadius/2;
		border: 2px solid $secLight;
		cursor: pointer;
		display: flex;
		font-size: responsive 12px 16px;
		font-weight: 700;
		letter-spacing: 1px;
		padding: $space/3 $space;
		text-transform: uppercase;
    color: $secLight;

		&:hover {
			background-color: $secLight;
			color: $tertLight;
		}
}

//btn
.btn {
		// border: 2px solid $linkLight;
		// height: 50px;
		background-color: $linkLight;
		overflow: hidden;
		padding: 18px 40px 18px 90px;
		z-index: 1;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    // background-color: #fff;
    border-radius: $btnBorderRadius;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s;

//btn //i
    i {
    	position: absolute;
    	left: 18px;
    	font-size: responsive 18px 30px;
    	margin-top: -3px;
    }

//btn:before
    &:before {
			// padding:$space/4;
	    position: absolute;
	    height: 200px;
			right: calc(100% - 160px);
	    top: -100%;
			border-radius: $btnBorderRadius 0 0 $btnBorderRadius;
	    width: 300px;
			animation-transform-origin: top left;
			transform-origin: top left;
			transform: skewY(-30deg);
	    content: '';
	    background-color: $linkDark;
	    transition: all 0.3s;
			z-index: -1;
	}

//btn:hover //:before
	&:hover::before {

		right: calc(100% - 200px);
		transition: all 0.3s;
	}

}
