

%plan-name {
    color: $tertDark;
    text-align: center;
    padding: $space/2 0 $space/8 0;

}

%price {
    color: $secLight;
    p{font-weight: 400;position: relative;
    }
    text-align: center;
    padding: $space 0;
}

%details {
    border-top: 1px solid $grayLight;
    margin-top: $space/2;

    li {
      text-align: center;
      i {
        display: block;
        margin-bottom: $space/2;
      }
    }

    li:nth-child(1),
     li:nth-child(2) {
        padding: $space/3 0;
        color: $grayDark;
        font-weight: 400;
    }

    li:nth-child(3) {
        @extend %link;

        a {
            color: #fff;
            cursor:pointer;
        }
    }
}

%link {
    // background-color: $linkLight;
    border: 2px solid $secLight;
    border-radius:15px;
    // color:#fff;
    color: $secLight;
    text-align: center;
    font-weight: 800;
    padding:$space/2 0;
    margin: $space/2 auto;
    text-transform: uppercase;
    width: 75%;
    cursor: pointer;
    a {
      color: $secLight;
    }

    &:hover {
        // background-color: $linkDark;
        border: 2px solid $secLight;
    }
}


.card-pricing {
  background-color: #fff;
  border-bottom: 1px solid $grayLight;
  border-left: 1px solid $grayLight;
  border-right: 1px solid $grayLight;
  cursor: pointer;
  padding: $space;

  > [class*="col"]:nth-child(1) {
      @extend %plan-name;
      }

  > [class*="col"]:nth-child(2) {
      @extend %price;
      }

  > [class*="col"]:nth-child(3) {
      @extend %details;
      }

  > [class*="col"]:nth-child(4) {
      @extend %link;
  }
  &:hover {
    // background-color: $secLight;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.17);
    color: #fff;
    z-index: 9999;
  }
}
