.post {

  > ul {
    list-style: none;
    padding-left: 0;

    li {
      display: block;
      padding-bottom: $space;

      h4 {
        margin-bottom: $space/3;
        font-weight: 700;
      }

      p {
        a {
          @extend %inline-link;
          display: inline;
          transform: translateY(0px) !important;
          width: auto !important;
          margin: 0  !important;
          padding: 0  !important;
        }
      }
    }
  }

  a {
    @extend %inline-link;
    display: inline;
    transform: translateY(0px) !important;
    width: auto !important;
    margin: 0  !important;
    padding: 0  !important;
  }
  
  h2, h3 {
    color: $tertLight;
  }

  h4 {
    color: $secDark;
    text-transform:none;
  }

}
