.tab {
	display: none;

	&.is-active {
		display: block;
	}
}


.tabs-btn {
	display: block;
	margin-bottom: $space*2;
	padding: $space/2 0;
	border: 2px solid $tertColor;
	text-align: center;
	color:$tertColor;


	&.is-active {
		background-color: $tertColor;
		color: white;
		
	}
}