---
layout: default
permalink: markets/automotive/
title: Automotive
id: automotive
---


{% include hero-interior.html %}

<section>

	<div class="row-no-pad grid-center bg-image short">
		<div class="col-12 move" data-move="fadeInUp">
			<img src="/images/markets/auto/00-auto.jpg" alt="family driving in car dad is texing" />
		</div>
	</div>

	<div class="row section-header grid-center bg-shaded">
		<header class="col-12_md-8_lg-7 move" data-move="fadeInDown">
			<h3>Start a trusted <span>two-way conversation</span> with your customers. </h3>
			<p>By texting, you are connecting with customers in the most effective and efficient way for both parties.  Unlike chat, your customers can take the conversation with them wherever they go and pick it back up later.</p>
		</header>
	</div>

</section>

<!-- <section>

<div class="row section-header grid-center bg-light">
	<header class="col-12_md-8_lg-7 move" data-move="fadeInDown">
		<h2>How <span class="highlight">Captivated</span> Works</h2>
	</header>
</div>

<div class="row-no-pad">
	<ul class="markets grid-2-equalHeight-spaceBetween move" data-move="fadeInUp">
		<li class="box-3 bg-prime">
			<div>
				<article>
					<h4>Leverage your existing phone number</h4>
					<p>with Captivated, the call-to-action should not be limited to Click or Call.    All of your ads showing your phone lines should say “call or text.”  Captivated allows you to immediately manage those leads and they are directed to the right team or person.  By text enabling any number in your dealership, you stay engaged with the customer who responds back from a phone call “can’t talk right now, in a meeting.” </p>
				</article>
			</div>
		</li>


		<li class="box-2 active">
			<figure>
				<img src="/images/cv-auto.jpg" alt="" />
				<figcaption>
					<h4>Convert more leads.</h4>
					<p>Add the Captivated lead gen tool to your website and allow visitors to start immediate conversations with your staff.</p>
				</figcaption>
			</figure>
		</li>

		<li class="box-2 active">
			<figure>
				<img src="/images/cv-student-2.jpg" alt="cat" />
				<figcaption>
					<h4>All your messages in one place.</h4>
					<p>
						Manage all your employee and customer messages in one easy-to-use platform. Customers can text or call any number at your office and their messages arrive in the same place! Assign employees messages so the right person for the job knows to follow up soon.
					</p>
				</figcaption>
			</figure>
		</li>

		<li class="box-3 bg-sec">
			<div>
				<article>
					<h4>Access Captivated anywhere</h4>
					<p>With the Captivated mobile app, your dealership can manage employee and customer communication on-the-go. Our app can be used on any Desktop, iOS or Android device. </p>
				</article>
			</div>
		</li>

		<li class="box-3 bg-dark">
			<div>
				<article>
					<h4>Text to pay</h4>
					<p>Drive a wonderful customer experience and increase CSI by allowing your service customers to pre-pay their RO via text prior to picking up their vehicle.   Captivated allows you to send any file type, so sharing RO’s, estimates, and payment links is a breeze.</p>
				</article>
			</div>
		</li>

		<li class="box-2 active">
			<figure>
				<img src="/images/cv-class.jpg" alt="" />
				<figcaption>
					<h4>Keep track of all types of customers.</h4>
					<p>
						You have many types of customers: prospects, buyers, service customers and more. With Captivated, you can categorize each type and build a better database with our standardized tags that allow you to keep track and improve your communication with your clients. You can manage appointments, and customer history and messages are stored forever.
					</p>
				</figcaption>
			</figure>
		</li>

		<li class="box-2 bg-link">
			<div>
				<article>
					<h4>Make it personal. </h4>
					<p>
						Our variable data merge fields make personalizing a template a breeze.  This is not robotic sounding notifications from an automated system, but authentic conversations that are simply made easier with our advanced technology.
					</p>
				</article>
			</div>
		</li>

		<li  class="box-3 bg-secDark">
			<div>
				<article>
					<h4>The power of an Enterprise platform for your BDC</h4>
					<p>
						If you have multiple locations or stores, imagine overseeing and managing all communication in one place.  This is perfect for BDC’s that handle traffic for dealer groups.  All leads and initial conversations can be handled at the enterprise level and then transferred to the appropriate department or employee in seconds.  Engagement reaches a whole new level and best practices are shared and enforced throughout your enterprise.
					</p>
				</article>
			</div>
		</li>

	</ul>
</div>

</section> -->

<section>

	<div class="row section-header grid-center bg-light">
		<header class="col-12_md-8_lg-8 move" data-move="fadeInDown">
			<label for="h2"><span>Here's how</span> we do it</label>
			<h2><span>Streamline</span> Advisor and Customer <span>Communication</span></h2>
			<p>Your service team has to handle a high volume of customer communication in addition to doing top-quality work. Playing phone tag with customers and leaving lengthy voicemails can be a hassle. Wouldn’t you rather take advantage of a more efficient, easier solution that keeps your customers and employees on the same page? Here’s how we do it:</p>
		</header>
	</div>

	<div class="row grid-center bg-light">

		<div class="col-0_md-3_lg-4 hide-on-mobile move" data-move="fadeInLeft">
			<figure class="device mobile">
				<picture>
					<img src="/images/text.jpg" alt="phone texting">
				</picture>
			</figure>
		</div>

		<ul class="col-12_md-12_lg-8 grid">
			<li class="blurb col-12 move" data-move="fadeInRight">
				<h3>Appointments</h3>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/time-reminders-alerts.html %} <span>Send reminders </span></h5>
				<p> Schedule automatic messages that notify customers of their upcoming service. You can even send follow up texts as the time of the appointment nears. </p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/cancel-notification.html %} <span>Get confirmation </span></h5>
				<p>Reduce cancellations with confirmation texts from your customers. A quick text back from a client can help you keep a full schedule.</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/car.html %} <span>Prepare for the visit </span></h5>
				<p>Will this customer need a loaner vehicle? Will they be staying at the dealership? Do they need a ride from the shuttle? Find out quickly before the customer arrives so you’re ready for their visit.</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/time-scheduled-message.html %} <span>Attack declined services </span></h5>
				<p>use scheduled messages to automatically follow-up with customers who have declined or postponed a needed repair.</p>
			</li>

		</ul>

	</div>

	<div class="row grid-center bg-light">

		<ul class="col-12_md-12_lg-8 grid">
			<li class="blurb col-12 move" data-move="fadeInLeft">
				<h3>Service &amp; Parts &amp; Body Shop</h3>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
				<h5>{% include icon/settings-manage-2.html %} <span>Get repair authorizations instantly </span></h5>
				<p>Does your customer need additional repairs? Text them what they need and the costs. No need to wait around for a call. Quickly get in touch and receive confirmation that you’re good to go ahead. </p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
				<h5>{% include icon/attach-files-2.html %} <span>Share pictures and video </span></h5>
				<p>Text pictures or videos of parts recommended to be replaced to speed up authorizations and increase sales.</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
				<h5>{% include icon/car-service.html %} <span>Parts </span></h5>
				<p>Answer questions about inventory and send a message when a special order part arrives.</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
				<h5>{% include icon/chat-user.html %} <span>Progress updates </span></h5>
				<p>Send your customers repair updates, estimate when you think the work will be finished and notify them when the job is complete. </p>
			</li>

		</ul>

		<div class="col-0_md-3_lg-4 hide-on-mobile move" data-move="fadeInRight">
			<figure class="device mobile">
				<picture>
					<img src="/images/text.jpg" alt="phone texting">
				</picture>
			</figure>
		</div>

	</div>

</section>

<section class="no-pad">

	<div class="row-no-pad grid-equalHeight blocks-full">
			<div class="blockquote bg-tert col move" data-move="fadeInLeft">
				{% include icon/blockquote.html %}
				<blockquote>
					<h4>"Captivated is perfect for connecting quickly with our service customers and for following up on declined services."</h4>
					<footer>
						— <cite>Brett Rozzi, General Manager
							<a href="http://www.penskechevy.com/" rel="noopener noreferrer" target="_blank">Penske Chevrolet</a></cite>
					</footer>
				</blockquote>
			</div>

			<div class="blockquote bg-link col move" data-move="fadeInRight">
				<blockquote>
					<h4>"Regardless of what CRM or DMS software you use, Captivated is a game changer.  It allows us to engage with more customers more easily than ever before."</h4>
					<footer>
						— <cite>Bill Skillman,
							<a href="http://www.rayskillman.com/" rel="noopener noreferrer" target="_blank">Ray Skillman Automotive Group</a>
						</cite>
					</footer>
				</blockquote>
			</div>
	</div>

</section>

<section>
	<div class="row section-header grid-center bg-light">
		<header  class="col-12_md-8_lg-7 move" data-move="fadeInDown">
			<label for="h2"><span>Sell more cars</span> with less effort</label>
			<h2>How does Captivated <span class="highlight">help you sell cars?</span></h2>
		</header>
	</div>

	<div class="row-no-max">
		<ul class="box-wrap images grid-equalHeight bg-tertDark">
			<li class="col-12_lg-4 move" data-move="fadeInLeft">
				<figure>
					<img src="/images/markets/auto/04-auto.jpg" alt="" />
					<figcaption><h3>Show off inventory</h3></figcaption>
				</figure>
				<article>
						<h5>Send pictures and videos </h5>
						<p>Keep customers interested in buying from your dealership by sending a teaser photo or video of a newly arrived vehicle.  Use templates to share existing articles or reviews and provide the customer with more reasons to buy from you.</p>
				</article>
			</li>
			<li class="col-12_lg-4 move" data-move="fadeIn">
				<figure>
					<img src="/images/markets/auto/05-auto.jpg" alt="" />
					<figcaption><h3>Stay in the loop</h3></figcaption>
				</figure>
				<article>
						<p>Not everyone wants to be hassled with a phone call. Send a text to potential customers to stay in touch without having to burden them when they’re busy. In some cases, it is simply a quick text asking “Hey John, great news, when is a good time to connect for 3 minutes on the phone? </p>
						<h5>Answer questions</h5>
						<p>Be available for any quick questions customers have during the sales process. </p>
						<h5>Set and confirm appointments</h5>
						<p>Stay flexible with meeting prospective clients and make sure they are coming in when you expect them.  </p>
				</article>
			</li>
			<li class="col-12_lg-4 move" data-move="fadeInRight">
				<figure>
					<img src="/images/markets/auto/06-auto.jpg" alt="" />
					<figcaption><h3>Finance and insurance</h3></figcaption>
				</figure>
				<article>
						<p>Send messages if your customers need to provide additional documents</p>
						<p>Notify them when they get approved</p>
				</article>
			</li>
		</ul>
	</div>
</section>

<section>
	<div class="row section-header grid-center bg-light">
		<header  class="col-12_md-8_lg-7 move" data-move="fadeInDown">
			<h2>How does this <span>improve customer relations?</span></h2>
		</header>
	</div>
	<div class="row bg-shaded no-pad">
		<ul class="box-wrap images grid-equalHeight">
			<li class="col-12_lg-4 hide-on-mobile move" data-move="fadeInLeft">
				<figure>
					<img src="/images/markets/auto/07-auto.jpg" alt="" class="sm"/>
				</figure>
			</li>
			<li class="col-12_lg-4 move" data-move="fadeIn">
				<article>
					<p><strong>Use Captivated to encourage customers to text in if they have any concerns. </strong> Rather than let complaints end up on social media, improve customer service with a few quick texts. </p>
					<p><strong>You’ll allow customers to communicate on their terms</strong> and they’ll be more encouraged to send feedback and suggestions.</p>
				</article>
			</li>
			<li class="col-12_lg-4 hide-on-mobile move" data-move="fadeInRight">
				<figure>
					<img src="/images/markets/auto/08-auto.jpg" alt=""  class="sm"/>
				</figure>
			</li>
		</ul>
	</div>
</section>

<section>
		<div class="row section-header grid-center">
			<header  class="col-12_md-9_lg-8 move" data-move="fadeInDown">
				<h2><span class="alt">Are you ready </span>to captivate your customers?</h2>
			</header>
		</div>

		<div class="row grid-spaceAround cta">

				<div class="col-12_md-6_lg-5 grid">

					<div class="col-12-top section-header-sm move" data-move="fadeInUp">
						<h4>Captivated is more than just texting. </h4>
						<p class="accent no-pad">With our platform, you can handle internal team communication, MMS delivery and manage all tasks and appointments with no hassle. </p>
					</div>

					<div class="col-12-bottom move" data-move="fadeIn">
						<a href="#" class="btn no-icon">Schedule your demo now </a>
					</div>

				</div>

				<div class="col-12_md-6_lg-5 grid">

					<div class="col-12-top section-header-sm move" data-move="fadeInUp">
						<h4>No more business cards. </h4>
						<p class="accent">Send your contact information via text and let your customers know that they have access to a dedicated text line that transfers their inquiries to the right department—just like a phone call, only more convenient. </p>
					</div>

					<div class="col-12-bottom move" data-move="fadeIn">
						<a href="tel:317-316-3188" class="btn no-icon">Have a question – text or call 317-316-3188</a>
					</div>

				</div>

		</div>

</section>
