---
layout: default
permalink: markets/retail/
title: Retail
id: retail
---


{% include hero-interior.html %}

<section>

	<div class="row-no-pad grid-center bg-image short">
		<div class="col-12 move" data-move="fadeInUp">
			<img src="/images/person-tablet.png" alt="woman texting" />
		</div>
	</div>

  <div class="row-no-pad grid-equalHeight blocks-packed">

    <div class="blockquote col-12_md-6 bg-tert move" data-move="fadeIn">
      {% include icon/blockquote.html %}
      <blockquote>
        <h4>&quot;to better serve you, you can now text us or call us - Speed is the new Trust&quot;</h4>
        <footer>
          — <cite>Tony Robbins
          </cite>
        </footer>
      </blockquote>
    </div>

    <div class="col move  col-12_md-6 bg-prime" data-move="fadeIn">
			<article>
				<h4>Properly handling inbound calls can be an impossible task.</h4>
				<p>Especially with customers standing in front of you. Don't contribute to the stat that says &quot;the average American spends over 1 year of their life on hold.&quot;</p>
			</article>
		</div>
  </div>

  <div class="row-no-pad grid-equalHeight blocks-packed">
    <div class="col move bg-secDark" data-move="fadeIn">
      <article>
        <h4>As easy as we made it for your customers, your employees will love it. </h4>
        <ul>
          <li>Create a queue for every department so the right employees are answering the right questions.</li>
          <li>Pickup a conversation from any browser, tablet or smartphone.</li>
          <li>Invite a co-worker to a conversation for help answering a question.</li>
          <li>Drastically cut down phone traffic allowing your employees to be more available to in-store customers.</li>
          <li>Cut down customer call backs and remove the aggravation of voicemail and phone tag.</li>
        </ul>
      </article>
    </div>

    <div class="col move bg-sec" data-move="fadeIn">
      <article>
        <h4>Use Case:</h4>
        <p>A customer calls in and asks a question about a specific inventory item. Your employee knows that it will take an undetermined amount of time to get the right answer.  They say to the caller. "For your convenience, would you like me to text or call you as soon as I have the answer?" </p>
        <p>Guess what the customer on the phone will say 8 out of 10 times? TEXT PLEASE!</p>
      </article>
    </div>
  </div>

</section>

<!-- 5 ways -->
<section>
	<div class="row grid-center">
		<div class="col-12_md-12 ">
			<ul class="grid blurbs-right">
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h3>Here are 5 ways the Captivated business text platform can transform customer experience, increase sales and drive loyalty.</h3>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>1</span> <span>Responsiveness</span></h5>
          <p>with instant desktop and mobile device notifications, inbound texts are immediately answered and routed to the right employee or department.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>2</span> <span>Expertise</span></h5>
					<p>our text transfer feature makes sure your customer is communicating with the right employee.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>3</span> <span>Build a Great Experience</span></h5>
					<p>no more misunderstood conversations, all communication is in recorded so you customer can no longer say... &quot;your employee told me this was in stock.&quot; Send and receive pictures of model and part numbers to remove the confusion.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>4</span>  <span>Professionalism</span></h5>
          <p>Variable data templates make responding to frequently asked questions a breeze.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>5</span> <span>Brand image </span></h5>
          <p>Corporate can create unlimited templates per department or product that properly promote your brand or products. You can even send how-to video's and product literature from Captivated.</p>
				</li>

			</ul>

		</div>

	</div>

</section>

<section>
  <div class="row half-pad grid-center bg-light">
    <header class="col-12 move" data-move="fadeInDown">
      <h3><span class="highlight">What kind </span>of texts will you receive?</h3>
    </header>
    <ul class="column-list-3">
        <li>Inventory - "do you have "this" in stock?</li>
        <li>Store hours and directions</li>
        <li>Special Pricing and Sale items</li>
        <li>Return questions</li>
        <li>Customer Support and "how-to" questions</li>
        <li>Special order status</li>
        <li>Pre-order new items </li>
        <li>Check on status of a repair or service</li>
        <li>Sell gift certificates and gift cards using our text to pay feature</li>
    </ul>
  </div>
</section>


<section>
<div class="row section-header grid-center">
	<header class="col-12_md-8_lg-7 move" data-move="fadeInDown">
		<h2>WHY DO YOU <span class="highlight">NEED<span> TO TEXT CUSTOMERS NOW?</h2>
	</header>
</div>

<div class="row-no-pad">
	<ul class="box-list grid-equalHeight-spaceBetween move" data-move="fadeInUp">
		<li class="box-size-2 ">
			<div>
				<article>
					<h4>INCREASE LEADS</h4>
          <ul>
            <li>Empower prospective customers to quickly and easily text you directly from your website. Leads will be sent directly to your texting inbox for the staff to handle. You can quickly answer or transfer conversations to the right department in seconds.</li>
            <li><img src="/images/increase-leads.png" alt="increase leads" /></li>
          </ul>
				</article>
			</div>
		</li>

		<li class="box-size-3 bg-sec">
      <div>
        <article>
          <h4>SUPERCHARGE YOUR LANDLINE</h4>
          <ul>
            <li>Captivated enables your landlines with texting so all your media and print ads can say "to betters serve you you can now call or text us!"</li>
            <li><img src="/images/use-our-website-lead-generation-tool.png" alt="increase leads" /></li>
          </ul>
        </article>
      </div>
		</li>

		<li class="box-size-3 bg-tertDark">
      <div>
        <article>
          <ul>
            <li>Use our powerful variable data merge fields within our templates to make sure your team is delivering the perfect message faster and replying in a personal way that builds better relationships. Quickly share floor plans, prices and special deals and other information prospects request.</li>
            <li><img src="/images/speed-up-productivity.png" alt="increase leads" /></li>
          </ul>
        </article>
      </div>
		</li>

		<li class="box-size-2 bg-tert">
			<div>
				<article>
					<h4>Text to pay</h4>
          <p>Request payments through secure billing links without needing the customer to deliver their credit card number over the phone.</p>
				</article>
			</div>
		</li>

		<li class="box-size-1 bg-prime">
			<div>
				<article>
					<h4>Coaching effectively</h4>
          <p>Keep your team accountable with real-time guidance and feedback to any employee directly within conversations </p>
				</article>
			</div>
		</li>

		<li class="box-size-1">
      <div>
        <article>
          <h4>Schedule messages</h4>
          <p>Have you ever had a customer say, "Get back to me in a week and I'll know by then"? Never worry about the lag time again. With our scheduled message feature, you can type the message immediately and deliver it at any time or date in the future.</p>
        </article>
      </div>
		</li>

		<li class="box-size-1 bg-link">
			<div>
				<article>
					<h4>Built-in notes</h4>
					<p>
						Our variable data merge fields make personalizing a template a breeze.  This is not robotic sounding notifications from an automated system, but authentic conversations that are simply made easier with our advanced technology.
					</p>
				</article>
			</div>
		</li>
	</ul>
</div>

</section>

<section>

	<div class="row section-header grid-center bg-light">
		<header class="col-12_md-8_lg-8 move" data-move="fadeInDown">
			<!-- <label for="h2"><span>Here's how</span> we do it</label> -->
			<h2>HOW DOES THIS <span>IMPROVE </span> IMPROVE YOUR BUSINESS?</h2>
		</header>
	</div>

	<div class="row grid-center bg-light">

		<div class="col-0_md-3_lg-4 hide-on-mobile move" data-move="fadeInLeft">
      	<img src="/images/cap-screens.png" alt="phone texting">
		</div>

		<ul class="col-12_md-12_lg-7 column-list-2">

			<li>
				<p>Make a permanent connection by instantly pushing your store's contact information into each customer's smartphone.</p>
			</li>

			<li>
        <p>Reduce phone traffic and voicemails in your office. Your team can handle eight text conversations for every one phone call.</p>
			</li>

			<li>
        <p>Remove the customer's pain of being put on hold or going through the auto-attendant nightmare</p>
			</li>

			<li>
				<p>Increase loyalty and customer satisfaction through better engagement</p>
			</li>

      <li>
        <p>Increases your number of repeat customers through better communication</p>
      </li>

      <li>
        <p>Drive new leads through our website widget and by enabling your landline</p>
      </li>

      <li>
        <p>Improve your online reputation by giving your customers an easy way to reach out with concerns via text</p>
      </li>

      <li>
        <p>Increase employee efficiency by saving them time</p>
      </li>


		</ul>

	</div>

</section>

<section>
	<div class="row section-header grid-center ">
		<header  class="col-12_md-11_lg-8 move" data-move="fadeInDown">
			<h2><span>Are you ready </span>to captivate your customers?</h2>
			<p class="p-large">With our platform, you can handle internal team communication, MMS delivery and schedule appointments with no hassle. </p>
      <p>HAVE A QUESTION - TEXT OR CALL 317-316-3188</p>
			<a href="/get-started/" class="btn">Get Started Today {% include icon/arrow-right.html %}</a>
		</header>
	</div>
</section>
