

<footer class="section bg-dark global-footer">

	<div class="row grid-spaceBetween move" data-move="fadeIn">

		<div class="col-12-top">

				<ul class="footer-menu">
					{% for item in site.navigation %}
						 {% assign class = nil %}
						 {% if page.title contains item.title %}
								 {% assign class = 'active' %}
						 {% endif %}
							<li>
									 <a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}" class="{{ class }}">
											 {{ item.title }}
									 </a>
							 </li>
				 {% endfor %}
				</ul>

		</div>

		<div class="col-12 grid-middle">
			<div class="col-12">
				<img src="/images/logo-mark.png" alt="" class="footer-logo">
				<h3>cap·ti·vate</h3>
				<p><em>(verb)</em> - attract and hold the interest and attention of; charm.</p>
			</div>

			<div class="col-12 grid">
				<a href="#" class="social-icon grid-middle-center">
					{% include icon/social/facebook.html %}
				</a>
				<a href="#" class="social-icon grid-middle-center">
					{% include icon/social/linkedin.html %}
				</a>
				<a href="#" class="social-icon grid-middle-center">
					{% include icon/social/twitter.html %}
				</a>
				<a href="#" class="social-icon grid-middle-center">
					{% include icon/social/youtube.html %}
				</a>
				<a href="#" class="social-icon grid-middle-center">
					{% include icon/social/vimeo.html %}
				</a>
			</div>
		</div>

<div class="col-12-bottom grid-equalHeight">

		<div class="col-12_md-12_lg-6" push-left="off-0_md-6">

			<ul class="footer-menu-lower">
				{% for item in site.lowerfootnav %}
					 {% assign class = nil %}
					 {% if page.title contains item.title %}
							 {% assign class = 'active' %}
					 {% endif %}
						<li>
								 <a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}" class="{{ class }}">
										 {{ item.title }}
								 </a>
						 </li>
			 {% endfor %}
			</ul>

		</div>

		<div class="col-12_md-12_lg-6">
			<p class="p-small">Copyright © 2016 Captivated LLC All rights reserved</p>
		</div>

	</div>

	</div>

</footer>
