<div class="hero">
		<!-- row  -->
		<div class="row grid-middle">


				<div class="col-12 move" data-move="fadeInDown">
					<h1 class="hero-header">
					<span>What if your </span>
					<span class="highlight typed"></span><br />
					<span>could</span>
					<span class="highlight">text </span>
					<span>you?</span>
					</h1>
				</div>

				<div class="col-12 move" data-move="fadeInUp">
					<p class="p-large hero-description">A new category of real-time engagement for business.</p>
				</div>

				<div class="col-12 move" data-move="fadeInLeft" data-move-delay=".5s">
					<a href="/get-started" class="btn">Get Started {% include icon/arrow-right.html %}</a>
					<!-- Modal Trigger -->
					<!-- <a href="#modal1" class="btn btn-ghost">Watch the video {% include icon/play.html %}</a> -->
				</div>
		</div>

</div>
