<!-- par-section -->
<div class="hero bg-light par-section">

	<!-- par-element -->
	<div class="par-element fast">

		<!-- row  -->
		<div class="row grid-middle">

			<div class="col-12">

				<div class="col-12">
					<h1 class="animation hero-header" data-animation="fadeInUp">
					<span>What if your </span>
					<span class="highlight typed"></span><br />
					<span>could</span>
					<span class="highlight">text </span>
					<span>you?</span>
					</h1>
				</div>

				<div class="col-12 animation" data-animation="fadeIn">
					<p class="p-large hero-description">Buisness texing made easy. <a href="" class="link">Watch the video <i class="material-icons">play_circle_outline</i></a></p>
				</div>

				<div class="col-12 animation" data-animation="fadeInLeft">
					<a href="/get-started" class="btn ghost overlay-trigger"><i class="material-icons">arrow_forward</i>Get Started</a>
				</div>

			</div>

		</div>

	</div>

</div>
