<div id="menu" class="js-menu">

	<div class="menu-btn-wrapper">
		<div class="js-menuBtn menu-open">
			<button class="hamburger hamburger--collapse" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
			</button>
			<div class="logo">
				<!-- <img src="/images/svg/logo.svg" alt="" class="menu-logo"> -->
				{% include logo.html %}
			</div>
		</div>
		<!-- <div class="js-menuBtn menu-close"><i class="material-icons">clear</i></div> -->
	</div>
	<div class="nav-bg"></div>
	<div class="menu-bg"></div>

	<div class="nav-cta">
		<a href="/log-in" class="utility-item">Log in</a>
		<a href='/get-started' {% if current[1] == 'about' %}class='current'{% endif %} class="utility-item">Sign up</a>
	</div>

</div>

<nav>
	<!-- <div class="row-no-max main-menu grid-middle">
	<ul class="row grid-center">
	<li class="col-12"><a href=''>Log in</a></li>

	<li class="col-12"><a href='/get-stared/' {% if current[1] == 'careers' %}class='current'{% endif %}>Get Started</a></li>

	<li class="col-12"><a href='/' {% if current[1] == 'home' %}class='current'{% endif %}>Home</a></li>

	<li class="col-12"><a href='#' {% if current[1] == 'about' %}class='current'{% endif %}>Features</a></li>

	<li class="col-12"><a href='/about/' {% if current[1] == 'features' %}class='current'{% endif %}>About</a></li>

	<li class="col-12"><a href='/careers/' {% if current[1] == 'careers' %}class='current'{% endif %}>Careers</a></li>

	<li class="col-12"><a href='http://captivated.works/blog' {% if current[1] == 'blog' %}class='current'{% endif %} target="_blank">Blog</a></li>

	<li class="col-12"><a href='/contact/' {% if current[1] == 'contact' %}class='current'{% endif %}>Contact</a></li>
</ul>

<div class="col grid social-icons">
<a href="#" class="social-icon grid-middle-center"><i class="socicon-twitter"></i></a>
<a href="#" class="social-icon grid-middle-center"><i class="socicon-linkedin"></i></a>
<a href="#" class="social-icon grid-middle-center"><i class="socicon-facebook"></i></a>
<a href="#" class="social-icon grid-middle-center"><i class="socicon-vimeo"></i></a>
<a href="#" class="social-icon grid-middle-center"><i class="socicon-youtube"></i></a>
</div>

</div> -->

<ul>
	<li class="col-12"><a href='/' {% if current[1] == 'home' %}class='current'{% endif %}>Home</a></li>
	<li class="col-12"><a href='/about/' {% if current[1] == 'about' %}class='current'{% endif %}>Features</a></li>
	<li class="col-12"><a href='/about/' {% if current[1] == 'features' %}class='current'{% endif %}>About</a></li>
	<!-- <li class="col-12"><a href='/careers/' {% if current[1] == 'careers' %}class='current'{% endif %}>Careers</a></li> -->
	<li class="col-12"><a href='http://captivated.works/blog' {% if current[1] == 'blog' %}class='current'{% endif %} target="_blank">Blog</a></li>
	<li class="col-12"><a href='/contact/' {% if current[1] == 'contact' %}class='current'{% endif %}>Contact</a></li>
</ul>

<!-- <ul>
<li class="col-12"><a href=''>Log in</a></li>
<li class="col-12"><a href='/get-stared/' {% if current[1] == 'careers' %}class='current'{% endif %}>Get Started</a></li>
</ul> -->

</nav>
