<div id="menu" class="js-menu">
	<div class="menu-nav">
		<!-- <button class="hamburger hamburger--collapse js-menuBtn " type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
		</button> -->
		<a href="/" class="logo">
			{% include logo.html %}
		</a>
		<div class="nav-items">
			<ul class="nav-items-list">
				<li class="main-action js-expand-menu">
					Product <i class="material-icons">expand_more</i>
					<ul class="product-list">
						<li class="product-list-item">
							<a href="/product/how-it-works/">
								<div class="product-menu">
									<div class="product-menu-icon">
										{% include icon/nav-how-it-works.html %}
									</div>
									<div class="product-menu-description">
										How it Works
									</div>
								</div>
							</a>
						</li>
						<li class="product-list-item">
							<a href="/product/features/">
								<div class="product-menu">
									<div class="product-menu-icon">
										{% include icon/nav-features.html %}
									</div>
									<div class="product-menu-description">
										Features
									</div>
								</div>
							</a>
						</li>
						<li class="product-list-item">
							<a href="/product/markets/">
								<div class="product-menu">
									<div class="product-menu-icon">
										{% include icon/nav-markets.html %}
									</div>
									<div class="product-menu-description">
										Markets
									</div>
								</div>
							</a>
						</li>
					</ul>
				</li>
				<li class="main-action">
					<a href="/get-started/">Pricing</a>
				</li>
				<li class="main-action">
					<a href="/faq/">faq</a>
				</li>
				<li class="main-action">
					<a href="/contact/">Contact</a>
				</li>
			</ul>
		</div>
		<div class="nav-items">
			<a href="/log-in" class="main-action">Log in</a>
			<a href='/get-started' {% if current[1] == 'about' %}class='current'{% endif %} class="main-action nav-cta">Sign up</a>
		</div>
	</div>
</div>

<!-- <nav>

<ul>
	{% for item in site.navigation %}
		 {% assign class = nil %}
		 {% if page.title contains item.title %}
				 {% assign class = 'active' %}
		 {% endif %}
			<li class="col-12">
					 <a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}" class="{{ class }}">

							 {{ item.title }}
					 </a>
			 </li>
 {% endfor %}
 <li class="col-12">
		{% for item in site.maincta %}
					<a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}" class="{{ class }}">
							{{ item.title }}
					</a>
		{% endfor %}
	</li>
</ul>

</nav> -->
