<!-- Modal Structure -->

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-header">
    <div class="col-12 grid">
      <a href="https://www.youtube.com/channel/UCy0KppNgZsSHzp42bSu81mg" target="_blank" class="social-icon grid-middle-center">
        {% include icon/social/youtube.html %}
      </a>
      <a href="https://vimeo.com/user50449419" target="_blank" class="social-icon grid-middle-center">
        {% include icon/social/vimeo.html %}
      </a>
    </div>
    <div class="modal-close">
        <h4>close</h4>
    </div>
  </div>
  <div class="modal-content">
    <iframe allowfullscreen="" frameborder="0" width="100%" mozallowfullscreen="" src="https://player.vimeo.com/video/160478077" webkitallowfullscreen=""></iframe>
  </div>
</div>
