
///////////////////////////////
// block styles throughout site
///////////////////////////////
.block {
  min-height:500px;
	position: relative;
	overflow: hidden;
	padding: $space;
	display: flex;
	justify-content: center;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

	> img {
		@include center();
		position: absolute;
		opacity: .2;
		min-height: auto;
		width: 130%;
		filter: grayscale(100%);
	}

	header {
		text-align: center;
	}

	figure {

		position: absolute;
		top: 24%;
		// background-color: $primeDark;
		@include center-horizontal();
		display: flex;
		margin-top: $space;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $space/1.5 0;
	}

// if box color ir prime
	&.bg-prime {
		figure {
			background-color: lighten($tertLight, 5%);
		}
	}

	// if box color ir primeDark
		&.bg-primeDark {

			figure {
				background-color: $primeLight;
			}

			footer {
				background-color: $primeLight;
			}
		}


// if box color ir tertDark
	&.bg-tert {
		figure {
			background-color: $tertDark;
		}
	}

// if box color ir tert
	&.bg-tertDark {
		figure {
			background-color: $tertLight;
		}
		footer {
			background-color:$tertLight;
		}
	}
}

///////////////////////////////
//fullwidth blocks
///////////////////////////////
.blocks-full {
  display: flex;
  overflow: hidden;

    >* {
      text-align: left;
      max-width: 100%;


      @media #{$media-lg} {
        flex: 1;
      }

      article, blockquote {
        z-index: 1;
        position: relative;
        padding: $space $space;
        border: 0px;
        margin-bottom: 0;
        display: flex;
        color: #fff;
        flex-flow: row wrap;

        @media #{$media-lg}{
          padding: $space*4 $space*2;
        }
      }
    }

    // >*:first-child {
    //     background-color: $tertDark;
    //
    //     * {
    //       color: #fff;
    //     }
    // }
    //
    // >*:nth-child(2) {
    //     background-color: $linkLight;
    //
    //     * {
    //       color: $tertLight;
    //     }
    //
    // }

} //end blocks-full
