
///////////////////////////////
// block styles throughout site
///////////////////////////////
.blocks {
}
///////////////////////////////
//fullwidth blocks
///////////////////////////////
.blocks-full {
  display: flex;
  overflow: hidden;

    >* {
      text-align: left;
      max-width: 100%;


      @media #{$media-lg} {
        flex: 1;
      }

      article, blockquote {
        z-index: 1;
        position: relative;
        padding: $space $space;
        border: 0px;
        margin-bottom: 0;
        display: flex;
        color: #fff;
        flex-flow: row wrap;

        @media #{$media-lg}{
          padding: $space*4 $space*2;
        }
      }
    }
    
    // >*:first-child {
    //     background-color: $tertDark;
    //
    //     * {
    //       color: #fff;
    //     }
    // }
    //
    // >*:nth-child(2) {
    //     background-color: $linkLight;
    //
    //     * {
    //       color: $tertLight;
    //     }
    //
    // }

} //end blocks-full
