.row.cta {
	color: $tertLight;
	// padding:  0 $space 0;

	@media #{$media-med} {
		padding: $space 0 $space*2;
	}

	@media #{$media-lg} {
		padding: 0 0 $space*2;
	}

	&.pad-top {

		@media #{$media-med} {
			padding-top: $space;
		}

		@media #{$media-lg} {
			padding-top: $space*2;
		}

	}


	>* {

		&:last-child {
			margin-bottom: 0;
		}

		@media #{$media-med} {
			margin-bottom: 0;
		}

	}

	figure {
		height: 200px;
		overflow: hidden;
		position: relative;
		width: 100%;
		display: block;

		img {
			position: absolute;
			@include center();
		}
	}
	.cta-card {
		box-sizing: border-box;
		padding: $space $space/4;

		@media #{$media-med} {
			padding: $space;
		}

	}

	&.cta-cards {
		padding:0;

		@media #{$media-med} {
			padding: $space 0 $space;
		}

		@media #{$media-lg} {
			padding: 0 0 $space*2;
		}

	}

}
