.row.cta {
	color: $tertLight;
	padding:  0 ;

	@media #{$media-med} {
		padding: $space 0 $space*2;
	}

	@media #{$media-lg} {
		padding: 0 0 $space*2;
	}

	&.pad-top {
		padding-top: $space;
	}


	>* {

		&:last-child {
			margin-bottom: 0;
		}

		@media #{$media-med} {
			margin-bottom: 0;
		}

		>* {

			&:last-child {
				@media #{$media-med} {
					margin-top: $space;
				}
			}
		}
	}

	figure {
		height: 200px;
		overflow: hidden;
		position: relative;
		width: 100%;
		display: block;

		img {
			position: absolute;
			@include center();
		}
	}
	.cta-card {
		box-sizing: border-box;
		padding: $space $space/4;

		@media #{$media-med} {
			padding: $space;
		}

	}

}


.cta:last-child {
	padding-bottom: 0;

	@media #{$media-med} {
		padding-bottom: $space;
	}

	@media #{$media-lg} {
		padding-bottom: $space*2;
	}
}
