// ----------------------------------------- //
// footer - THE END
// ----------------------------------------- //
footer.global-footer {
	position: relative;
	padding: $space 0;
	margin-top: $space;

	@media #{$media-med} {
		padding: $space*2 0 $space;
	}

	[class*="col-"] [class*="col-"] {
		padding: 0;
	}

	.row {
		min-height: 300px;
		&.footer-row {
			border-top: 1px solid #f1f1f1;

			>div:last-child {
				padding-top: $space;

				@media #{$media-lg} {
					padding-bottom: 0;
				}

				>* {
					width: 100%;

				}
			}
		}
	}

	// ----------------------------------------- //
	// footer menu
	// ----------------------------------------- //

	.footer-menu {
		margin-left: 0;
		padding: $space 0;
		 li a {padding-bottom: $space/3;}

		@media #{$media-med} {

			li {
				display: inline-block;
				margin-right: $space;

				a {
					color: $tertLight;
					font-weight:500;
					font-size: responsive 12px 14px;
					letter-spacing: 2px;
					padding-bottom: $space/4;
					@include transition();
					text-transform: uppercase;
					&:hover {
						color: $linkLight;
					} // end hover

				} //end a

			} //end li

		} //end media med

	} //end footer menu

	// ----------------------------------------- //
	// Lower footer menu
	// ----------------------------------------- //
	.footer-menu-lower {
			margin-left: 0;
			padding-left: 0;
			display: block;
			width: 100%;
			position: relative;
			padding-top: $space;

			@media #{$media-med} {
				display: flex;
				li {

					display: flex;

					a {
						color: $tertLight;
						font-weight:500;
						font-size: responsive 12px 14px;
						@include transition();
						margin-right: $space;

						&:hover {
							color: $linkLight;
						} //end hover

					} //end a

				} //end li

			}

			a {
		    font-size: responsive 12px 14px;
			}

		}

// ----------------------------------------- //
// footer logo
// ----------------------------------------- //

	.footer-logo {
		margin-bottom: $space/2;
	}
	.footer-cap-def {
		margin-bottom: 0;
	}

	h3,p, a {
		color: $tertLight;
		display: inline-block;
	}
}
