.section-header + .row {
  padding-top: $space;
}

.row.section-header {
    padding-bottom:  $space;
}

.section-header {
  position: relative;
  text-align: center;
  padding-bottom:  0;
  color: $tertLight;

  p {
    margin-bottom: 0;
  }

  header >*:only-child {
    margin-bottom: 0;
  }

  header {

    h2:last-child {
      margin-bottom: 0;
    }
    .btn {
      margin-top: $space;

      	@media #{$media-med} {
          margin-top: $space*1.5;
        }
    }

  }

  header {

    label {
      color: $tertLight;
      padding-bottom: $space/2;
      display: block;

      span {
        color: $linkLight;
      }
    }
  }
}

.section-header-sm {

  figure {
    margin: 0;
    padding: 0;
  }

  figure ~ p {
    padding-top: $space;
    margin-bottom: 0;
  }

  header {
    padding: $space*4 $space*2;
  }
}

.logo-mark {
  max-width: 120px;
  height: auto;
  position: relative;
  margin: 0 auto $space;
}
