

.section-header {
  position: relative;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  header >*:only-child {
    margin-bottom: 0;
  }

  header {

    h2:last-child {
      margin-bottom: 0;
    }
    .btn {
      margin-top: $space;
    }

  }

  header {

    label {
      color: $tertLight;
      padding-bottom: $space/2;
      display: block;

      span {
        color: $linkLight;
      }
    }
  }
}

.section-header-sm {

  figure {
    margin: 0;
    padding: 0;
  }

  figure ~ p {
    padding-top: $space;
    margin-bottom: 0;
  }

  header {
    padding: $space*4 $space*2;
  }
}
