//-------------------------------------------------//
// hero
//-------------------------------------------------//
.hero {
		padding: $space*2 0;
		position: relative;

	img.clip {
		position:absolute;
		right: 0;
		top: -30%;
		height: 200%;
		width: auto;
		opacity: .5;
	}

	.hero-header {
		margin-bottom: $space;
	}

	span:first-child {
		display: block;

		@media #{$media-sm} {
			display: inline-block;
		}
	}

	.btn {
		margin-bottom: 0;
	}

//hero // hero-description
	.hero-description {
		margin-bottom: $space*1.5;
	}

	> div {
		height: inherit;
	}
}


//-------------------------------------------------//
// hero-interior
//-------------------------------------------------//
.hero-interior {
		// margin-top: $mbnavHeight;
		height: auto;
		padding: $space 0;

		@media #{$media-med} {
			padding: $space*1.5 0;
		}

		@media #{$media-lg} {
			padding: $space*2 0;
		}

		@media #{$media-xl} {
			padding: $space*3 0;
		}


	> div {
		height: inherit;
	}

	label {
		margin-bottom: $space/2;
		display: inline-block;
	}

	h1 {
		margin-bottom: $space/1.5;
	}

	p {
		margin-bottom: 0;
		max-width: 700px;
	}
}

	.hero-header {
		margin-bottom: 0;

		span.highlight {
   			font-size: inherit;
   			color:$secLight;
		}

		h2 {
			margin-bottom: $space/2;
		}

		h1 {
			margin-bottom: $space;
		}
	}


	//-------------------------------------------------//
	// hero-market
	//-------------------------------------------------//

	.hero-market {
		padding-top: $space*2;

		p {
			max-width: 750px;
		}
	}
