
// main menu
#menu {
	position: fixed;
	z-index: 9997;
	top: 0;
	left: 0;
	overflow: visible;
	width: auto;
	height: auto;

	&.menu-is-open {

		height: 100vh;
		width: 100vw;
		overflow: hidden;

			.menu-bg {
				top: 0;
		    width: 200vw;
		    background-color: $tertLight;
		    border: solid 2px $tertLight;
				transition: all .7s 0s cubic-bezier(0.42, 0.03, 0.54, 0.96);
				height: 300vh;
			}

		}

		&.show-toggle {

			.menu-bg {
				transition-delay: 0s;
			}

		}

	}

// btn wrapper for js-menu toggle
#menu .menu-btn-wrapper {
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    top: 0;
    left: 0;
		width: 70vw;
		margin-left: $space;

		.menu-open {
			transform: translateX(0%);
			transition-delay: .8s;
			width:auto;
			height: $navHeight;
			display: flex;
			align-items: center;
		}

	 	.hamburger {
			display:flex;
			position: relative;
			margin-right: $space/2;
		}

		.logo {
			position: relative;
			width: 220px;
			margin: 0 auto;
			display: flex;
			z-index: 9997;
		}

		div {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			height: auto;
		}

}

.menu-is-open#menu {

		.menu-btn-wrapper {
				.menu-open {
						transition-delay: 1s;
				}
				.logo {
					transition-delay: 0s;
					@include transition();
					.st1, .st2, .st0 {
						fill: #fff;
					}
				}
		}

	& +	nav {
				transition: z-index 0s 0s ease;
				z-index: 9997;

				li {
					transform: translate3D(0, 0, 0);
					opacity: 1;
				}
		}
}

#menu .nav-bg {
    position: fixed;
    top: 0;
		width: 100%;
		height: $navHeight;
    left: 0;
    z-index: 9995;
    background-color: #fff;
		@include transition();
    backface-visibility: hidden;
		border-bottom: 1px solid $grayLight;

}

// triangle menu background
.menu-bg {
    position: fixed;
    top: -130px;
    left: -300px;
    z-index: 9996;
    width: 300px;
    height: 130px;
    background-color: $tertLight;
    box-sizing: border-box;
    animation-transform-origin: top left;
    transform-origin: top left;
    transition: all .7s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    backface-visibility: hidden;
    transform: skewY(-30deg);
    border: solid 2px $tertLight;


}

// right hand side verticle buttons
.nav-cta {
    display: flex;
		align-items: center;
		height: $navHeight;
		margin-right: $space;
		display: none;

		@media #{$media-sm} {
			display: flex;
		}
}
.nav-cta {
    position: fixed;
		z-index: 9995;
    top: 0px;
    right: 0px;

		.main-action {
			font-weight: 500;
			text-transform: uppercase;
			color:$tertLight;
			padding: $space/4 $space/1.5;
			@include transition();
			font-size: responsive 12px 14px;
			letter-spacing: 2px;
			display: flex;
			align-items: center;

			i {
				font-size: responsive 16px 26px;
				line-height: 1.4;
				display: flex;
				padding-right: 10px;
				// color: $grayDark;
				color: $primeLight;
				@include transition();
			}

			&:last-child {
				border: 2px solid $secLight;
				border-radius: $btnBorderRadius/2;
				margin-left: $space/2;

				&:hover {
					background-color: $secLight;
					color: #fff;
				}
			}

			&:hover  {
				color: $secDark;

				i {
					color: $linkLight;
				}
			}

		}

	}





//
//
// nav {
// 	background-color: #fff;
//     position: fixed;
//     top: 0;
// 		left: 0;
//     transition: top 0.2s ease-in-out;
//     width: 100%;
//     z-index: 9999;
//     height: $mbnavHeight;
//
// //nav //logo
// 	  .logo {
// 			height: $mbnavHeight - 12px ;
// 			width: auto;
// 			display: block;
// 		}
//
// 	.grid-middle {
// 			height: inherit;
// 			padding: 0 $space/2;
//
// 			@media #{$media-lg} {
// 				padding: 0 $space;
// 			}
// 		}
//
// 	&.hide {
// 		top: - $navHeight;
// 	}
//
//
	.utility-nav .utility-item {
		display: none;
		color:$tertLight;

			@media #{$media-lg} {
				display: block;
		}
	}
//
// // nav desktop
// 	@media #{$media-lg} {
// 	height: $navHeight;
//
// 	.logo {
// 		height: $navHeight - 32px ;
// 		}
// 	}
// }


nav {
		position: fixed;
		left: 0;right:0; top: 0; bottom:0;
		width: 100vw;
	  height: calc(100% - 60px);
		margin-top: $space*2;
		z-index:-200;
		transition: z-index 0s .8s ease;

	ul:nth-child(1) {
    width: 100vw;
    display: flex;
		margin-top: $space*2;
    flex-direction: column;
    align-items: center;
    float: left;
		padding-left: 0;

			li {
				width: 100%;
				text-align: left;
		    transform: translate3D(0, 50px, 0);
		    opacity: 0;
				@include transition-nav();

				a {
					padding: $space/6 $space;
					display:inline-block;
					text-align: left;
					color:#fff;
					font-size: responsive 16px 60px;

						&.active {
								background-color: $tertDark;
							}

					@media #{$media-lg} {
						margin-left: $space*1.5;
						margin-left: $space/2;
					}
				}


				// fancy way of saying last child - could change the 1 to 2 and it would be last 2 children
				&:nth-last-of-type(-n+1) {
						display: flex;
						margin-top: $space;
						padding-left: $space*1.4;

							@media #{$media-lg} {
								margin-left: $space/2;
							}

						a {
							@extend %btn-sm;
								margin-right: $space/2;
						}

					}

			}

 		}

	}

// nav {
// 	position: fixed;
// 	left: 0;right:0; top: 0vh;
// 	width: 100vw;
// 	height: 100%;
// 	z-index: 9998;
// 	transform: translateY(-100%);
// 	// transition: 1s all ease-out;
// 	transition-delay: .4s;
// 	display: flex;
// 	align-items:center;
// 	overflow-y: scroll;
//
//
//
// 	.main-menu {
// 		height: 70%;
// 		padding-left: 0;
// 		opacity: 0;
//
// 		li {
// 		padding: 0;
// 		display: flex;
// 		justify-content: flex-end;
// 		align-items: center;
//
// 			a {
// 				display: flex;
// 				font-weight: 700;
// 				font-size: responsive 23px 100px;
// 				color:#fff;
// 				cursor:pointer;
// 				margin-bottom: 0;
// 				line-height: 1;
// 				letter-spacing: .5px;
//
// 				&:hover {
// 					color:$linkLight;
// 				}
// 			}
//
// 			&:nth-child(1), &:nth-child(2) {
// 				display: block;
//
// 				@media #{$media-lg} {
// 					display: none;
// 				}
// 			}
// 		}
// 	}
//
// 	.social-icons {
// 		position: absolute;
// 		bottom: $space;
// 		left: $space;
// 	}
//
// }
