// ----------------------------------------- //
// Basic Page layout
// ----------------------------------------- //

html, body {
	position: relative;
	height: 100%;
	background-color: $grayLight;
	text-rendering: optimizeLegibility;
}

// site wrapper
main {
	position: relative;
	padding-top: $mbnavHeight;
	height: inherit;

	@media #{$media-med} {
		padding-top: $navHeight;
	}
}

// normal row
.row, .row-no-pad {
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1300px;

	@media #{$media-med} {
		width: calc(100% - 60px);
	}

}

//multiple rows
.row + .row {
	padding: $space 0;

		@media #{$media-med} {
			padding: $space*2 0;
		}
		@media #{$media-lg} {
			padding: $space*3 0;
		}
		@media #{$media-xl} {
			padding: $space*4 0;
		}
}

// row no max width
.row-no-max {
	width: 100%;
	margin: 0 auto;
	height: inherit;
	// remove gutter padding from gridlex
	[class*="col-"] {padding: 0;}
}


// ----------------------------------------- //
// High Level section styles
// ----------------------------------------- //
section {
	overflow-x: hidden;
	position: relative;

	> div.row {
		padding: $space 0;

		@media #{$media-med} {
			padding: $space*2 0;
		}

		@media #{$media-lg} {
			padding: $space*4 0;
		}

		@media #{$media-xl} {
			padding: $space*4 0;
		}

		&[class*="bg-"] {
				padding: $space 0;

				@media #{$media-med} {
					padding: $space*2 $space/2;
				}

		}

		&:first-child {
			border-radius: $radius $radius 0 0 ;
			padding-bottom: $space;
			// border-bottom: 2px dashed $primeLight;
		}

		&:last-child {
			border-radius:0 0 $radius $radius ;
		}

		&.half-pad {
			@media #{$media-lg} {
				padding: $space $space/2;
			}
		}

		&.no-pad {
				padding:0;
		}

		&.bg-light + .bg-light {
			border-top: 2px dashed $grayLight;
		}

	}

	>div.row-no-pad {
		padding: 0;

		>div {
			padding: 0;
		}

	}

	>.bg-image:first-child {
		border-radius: $radius $radius 0 0 ;
	}

}//end section



img {
	display: block;
}


//////////////////////////////////
// utility classes
//////////////////////////////////

.hide-on-mobile {
	display: none;

	@media #{$media-lg} {
		display: block;
	}
}
