
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <main class="wrapper">
    {% include nav.html %}

    <div class="hero-interior">

    <div class="row grid-middle">

        <header class="col-12 hero-header move" data-move="fadeInDown">
            <label for="">{{ page.description }}</label>
            <h2>{{ page.title }}</h2>
        </header>

      </div>

    </div>

    <section>
      <div class="row grid-center bg-light move" data-move="fadeInUp">
        <article class="col-12_md-8_lg-7_xl-6 post">
          {{ content }}
        </article>
      </div>
    </section>

    {% include footer.html %}

  </main>

  {% include jsfooter.html %}
</body>

</html>
