.move{
  opacity: 0;
}

.move.animated{
    opacity: 1;
}


// main animation
.fadeIn {
  @include fadeIn($duration: 1.2s, $function: ease-in-out);
}

.fadeInUp {
  @include fadeInUp($duration: .7s, $function: ease-out);
}

.fadeInDown {
  @include fadeInDown($duration: .7s, $function: ease-out);

}

.fadeInLeft {
  @include fadeInLeft($duration: .7s, $function: ease-out);
}

.fadeInRight {
  @include fadeInRight($duration: .7s, $function: ease-out);

}

.slideInLeft{
  @include slideInLeft($duration: 1.5s, $function: ease);
}

.slideInRight{
  @include slideInRight($duration: 1.5s, $function: ease);
}



// SLOW ZOOM IN ANIMATION
@include keyframes(zoomSlow) {
  0% {
    @include transform(scale(1));
  }
  50% {
   @include transform(scale(1.08));
  }
  100% {
   @include transform(scale(1.12));
  }
}

@mixin zoomSlow($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(zoomSlow);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}


.zoomSlow {
  @include zoomSlow($duration: 20s, $function: ease-in-out);
}



// custom fade in


@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


// ----------------------------------------- //
// TYPED ANIMATION
// ----------------------------------------- //

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 1.4s infinite;
    -moz-animation: blink 1.4s infinite;
    animation: blink 1.4s infinite;
    font-weight: 600;
    color: $primeLight;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
