@include keyframes(slideInLeft) {
  0% {
    opacity: 0;
    // @include transform(translateX(-2000px));
    transform: translate3d(-1000px, 0px, 0px);
    animation-timing-function: ease-out;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-out;
  }
}

@mixin slideInLeft($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInLeft);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
