---
layout: default
permalink: /contact/
title: Contact
id: contact
---

{% include hero-interior.html %}

<section>

		<div class="row grid-spaceAround cta bg-shaded">

			<div class="col-12_md-6_lg-5 grid">

				<div class="col-12-top section-header-sm">
					<h3>Have a Question?</h3>
					<figure class="accent">
						<img src="/images/coffee-tablet.png" alt="">
					</figure>
					<p>Text us Lorem ipsum dolor sit dolor sit amet, consectetur adipisicing amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing <a href="" class="link">link</a> to get there.</p>
				</div>

				<div class="col-12-bottom">
					<a href="#" class="btn">{% include icon/mobile.html %} Text Us</a>
				</div>

			</div>


			<div class="col-12_md-6_lg-5 grid">

					<div class="col-12 section-header-sm">
						<h3>Want to work for us?</h3>
						<figure class="accent">
							<img src="/images/coffee-tablet.png" alt="">
						</figure>
						<p>Something about a quick apply with a <a href="" class="link">link</a> to get there. dolor sit amet, consectetur adipisicing dolor sit amet, consectetur adipisicing</p>
					</div>

					<div class="col-12-bottom">
						<a href="#" class="btn">{% include icon/mobile.html %} Text Us</a>
					</div>

			</div>

		</div>

</section>
