---
layout: default
permalink: /contact/
title: Contact
id: contact
---

{% include hero-interior.html %}

<section>

		<div class="row grid-spaceAround cta">

				<div class="col-12_md-6_lg-5 grid bg-light cta-card">

					<div class="col-12-top section-header-sm move" data-move="fadeInUp">
						<h3>It's more than just texting. </h3>
						<p class="accent no-pad">With our platform, you can handle internal team communication, MMS delivery and manage all tasks and appointments with no hassle. </p>
					</div>

					<div class="col-12-bottom move" data-move="fadeIn">
						<a href="#" class="btn no-icon">Schedule your demo now {% include icon/arrow-right.html %}</a>
					</div>

				</div>

				<div class="col-12_md-6_lg-5 grid bg-light cta-card">

					<div class="col-12-top section-header-sm move" data-move="fadeInUp">
						<h3>No more business cards. </h3>
						<p class="accent">Send your contact information via text and let your customers know that they have access to a dedicated text line that transfers their inquiries to the right department—just like a phone call, only more convenient. </p>
					</div>

					<div class="col-12-bottom move" data-move="fadeIn">
						<p>Have a question – <b>text or call 317-316-3188</b></p>
						<!-- <a href="tel:317-316-3188" class="btn no-icon">Have a question – text or call 317-316-3188</a> -->
					</div>

				</div>

		</div>

</section>
