---
layout: default
permalink: features/
title: Features
id: features
---

{% include hero-interior.html %}

<!-- SECTION 3 -->
<section>
	<div class="row grid">
    <div class="col-12_md-12_lg-5 grid">
      <ul class="col-12">
        <li class="blurb col-12 move" data-move="fadeInRight">
          <h3>Keep your team on track</h3>
        </li>
        <li class="blurb col-12 move" data-move="fadeInRight">
            <h5>{% include icon/business-leads.html %} <span>Email Notifications</span></h5>
            <p>To ensure no message slips through the crack.</p>
        </li>

        <li class="blurb col-12 move" data-move="fadeInRight">
            <h5>{% include icon/chat-familiarity.html %} <span>Built-in Reminders &amp; Notes</span></h5>
            <p>That only you and your team can see.</p>
        </li>

        <li class="blurb col-12 move" data-move="fadeInRight">
            <h5>{% include icon/chart-efficiency.html %} <span>Custom Keyword Automation &amp; Notifications</span></h5>
            <p>To stay on top of what matters most.</p>
        </li>
      </ul>
    </div>
    <div class="col-12_md-12_lg-7 grid">
      <div class="col-0_md-6 move" data-move="fadeInLeft">
        <figure class="device mobile">
            <picture>
              <img src="/images/text.jpg" alt="phone texting">
            </picture>
        </figure>
      </div>
    </div>
  </div>
	<div class="row grid">
    <div class="col-12_md-12_lg-7 grid">
      <div class="col-0_md-6 move" data-move="fadeInLeft">
        <figure class="device mobile">
            <picture>
              <img src="/images/text.jpg" alt="phone texting">
            </picture>
        </figure>
      </div>
    </div>
    <div class="col-12_md-12_lg-5 grid">
      <ul class="col-12">
        <li class="blurb col-12 move" data-move="fadeInRight">
          <h3>Something Here????</h3>
        </li>
        <li class="blurb col-12 move" data-move="fadeInRight">
            <h5>{% include icon/business-leads.html %} <span>Smart Message Routing</span></h5>
            <p>Assures you that messages are sent to the right people or departments.</p>
        </li>

        <li class="blurb col-12 move" data-move="fadeInRight">
            <h5>{% include icon/chat-familiarity.html %} <span>Process Integration</span></h5>
            <p>Into your custom data and workflows that allows improved employee performance.</p>
        </li>

        <li class="blurb col-12 move" data-move="fadeInRight">
            <h5>{% include icon/chart-efficiency.html %} <span>Manage All Teams and Employees</span></h5>
            <p>By creating new users, departments and conversation queues.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="no-pad">

	<div class="row-no-pad grid-equalHeight blocks-full alt">

			<div class="col move" data-move="fadeInLeft">
				<article>
					<h4>"Regardless of what CRM or DMS software you use, Captivated is a game changer.  It allows us to engage with more customers more easily than ever before."</h4>
				</article>
			</div>

      <div class="col move" data-move="fadeInRight">
        <article>
          <h2><span class="alt">Remote</span> Access</h2>
          <p>Available on any iOS, Android or Desktop device for remote access anywhere.</p>
        </article>
      </div>
	</div>

</section>
<section>
  <div class="row section-header grid-center bg-light">
    <header  class="col-12_md-9_lg-8 move" data-move="fadeInDown">
      <h2>Ready to get <span class="alt">started?</span></h2>
      <p>Sign up here for a quick 15-minute demo</p>
      <a href="#" class="btn no-icon">Schedule your demo now </a>
    </header>
  </div>
</section>
