---
layout: default
permalink: /get-started/
title: Get Started
id: get-started
---

{% include hero-interior.html %}

<section class="bg-shaded appear grid">

	<div class="card-bg-accent"></div>

   <div class="row col-12_md-6_lg-5 grid-center-spaceBetween half-pad move" data-move="fadeIn">
    	<div class="col-5">
        	<a href="#" class="plans-by-month tabs-btn tab-btn-1 is-active"><span>Monthly</span></a>
     	</div>
     	<div class="col-5">
        	<a href="#" class="plans-by-year tabs-btn tab-btn-2"><span>Yearly</span></a>
       </div>
  	</div>

	<ul class="row-no-pad grid-middle-center move" data-move="fadeInUp">

		<!-- PREUMIUM Monthly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Premium</h4>
			</header>
			<figure class="col-8 grid-center-middle price">
				{% include icon/pricing/pricing-premium.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$299</h3></li>
				<li>Up to 50 users</li>
				<li>5000 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="" class="">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- CHOICE Monthly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing active">
			<header class="col-12">
				<h4>Choice</h4>
			</header>
			<figure class="col-8 grid-center-middle price">
				  {% include icon/pricing/pricing-choice.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$199</h3></li>
				<li>Up to 25 users</li>
				<li>2500 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="" class="">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- BASIC Monthly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Basic</h4>
			</header>
			<figure class="col-8 grid-center-middle price">
				{% include icon/pricing/pricing-basic.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$99</h3></li>
				<li>Up to 10 users</li>
				<li>1000 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="" class="">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- STARTER Monthly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Starter</h4>
			</header>
			<figure class="col-8 grid-center-middle price">
				    {% include icon/pricing/pricing-starter.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$49</h3></li>
				<li>Up to 5 users</li>
				<li>500 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="" class="">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

	</ul>


</section>
