---
layout: default
permalink: /get-started/
title: Get Started
id: get-started
---

{% include hero-interior.html %}

<section class="bg-shaded appear grid">

	<div class="card-bg-accent"></div>

   <div class="row col-11_md-6_lg-4 grid-center-spaceBetween half-pad move" data-move="fadeIn">
    	<div class="col-6 pricing-tab">
        	<a class="plans-by-month pricing-tab-btn pricing-tab-btn-1 is-active js-monthly"><span>Monthly</span></a>
     	</div>
     	<div class="col-6 pricing-tab">
        	<a class="plans-by-year pricing-tab-btn pricing-tab-btn-2 js-yearly"><span>Anually</span></a>
       </div>
  	</div>

	<ul class="row-no-pad grid-middle-center move js-monthly-content" data-move="fadeInUp">

		<!-- PREUMIUM Monthly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Premium</h4>
			</header>
			<figure class="col-8 grid-center-middle price">
				{% include icon/pricing/pricing-premium.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$299</h3></li>
				<li>Up to 50 users</li>
				<li>5000 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="https://captivated-llc.chargify.com/subscribe/kqbfyy3d9qsx/m5000" rel="noopener noreferrer" target="_blank">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- CHOICE Monthly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing active">
			<header class="col-12">
				<h4>Choice</h4>
			</header>
			<figure class="col-8 grid-center-middle price">
				  {% include icon/pricing/pricing-choice.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$199</h3></li>
				<li>Up to 25 users</li>
				<li>2500 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="https://captivated-llc.chargify.com/subscribe/z76t23kjts64/m2500" rel="noopener noreferrer" target="_blank">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- BASIC Monthly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Basic</h4>
			</header>
			<figure class="col-8 grid-center-middle price">
				{% include icon/pricing/pricing-basic.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$99</h3></li>
				<li>Up to 10 users</li>
				<li>1000 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="https://captivated-llc.chargify.com/subscribe/j2g3mjnkjtkx/m1000" rel="noopener noreferrer" target="_blank">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- STARTER Monthly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Starter</h4>
			</header>
			<figure class="col-8 grid-center-middle price">
				    {% include icon/pricing/pricing-starter.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$49</h3></li>
				<li>Up to 5 users</li>
				<li>500 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="https://captivated-llc.chargify.com/subscribe/4x3v7w89vsdv/m500" rel="noopener noreferrer" target="_blank">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

	</ul>

	<!-- ======== Yearly Content ========= -->
	<!-- ================================= -->

	<ul class="row-no-pad grid-middle-center move js-yearly-content" data-move="fadeInUp">

		<!-- PREUMIUM Yearly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Premium</h4>
				<h5 class="annual-savings">Save $10/mo <br><span>for 12 months</span></h5>
			</header>
			<figure class="col-8 grid-center-middle price">
				{% include icon/pricing/pricing-premium.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$239</h3></li>
				<li>Up to 50 users</li>
				<li>5000 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="https://captivated-llc.chargify.com/subscribe/n56tb2ss8qxn/y5000" rel="noopener noreferrer" target="_blank">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- CHOICE Yearly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing active">
			<header class="col-12">
				<h4>Choice</h4>
				<h5 class="annual-savings">Save $20/mo <br><span>for 12 months</span></h5>
			</header>
			<figure class="col-8 grid-center-middle price">
				  {% include icon/pricing/pricing-choice.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$159</h3></li>
				<li>Up to 25 users</li>
				<li>2500 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="https://captivated-llc.chargify.com/subscribe/ghsvxvc5gmmx/y2500" rel="noopener noreferrer" target="_blank">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- BASIC Yearly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Basic</h4>
				<h5 class="annual-savings">Save $40/mo <br><span>for 12 months</span></h5>
			</header>
			<figure class="col-8 grid-center-middle price">
				{% include icon/pricing/pricing-basic.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$79</h3></li>
				<li>Up to 10 users</li>
				<li>1000 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="https://captivated-llc.chargify.com/subscribe/vndwjv92f97f/y1000" rel="noopener noreferrer" target="_blank">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

		<!-- STARTER Yearly -->
		<li class="col-11_md-6_lg-3 grid-center card-pricing">
			<header class="col-12">
				<h4>Starter</h4>
				<h5 class="annual-savings">Save $60/mo <br><span>for 12 months</span></h5>
			</header>
			<figure class="col-8 grid-center-middle price">
				    {% include icon/pricing/pricing-starter.html %}
			</figure>
			<ul class="col-12">
				<li><h3>$39</h3></li>
				<li>Up to 5 users</li>
				<li>500 messages included</li>
			</ul>
			<footer class="col-12">
				<a href="https://captivated-llc.chargify.com/subscribe/k75c5zndhksr/y500" rel="noopener noreferrer" target="_blank">Get Started <i class="material-icons">arrow_forward</i></a>
			</footer>
		</li>

	</ul>


</section>

<section>
	<div class="row section-header grid-center">
		<header  class="col-12_md-9_lg-8 move" data-move="fadeInDown">
			<h2>Ready to get <span class="alt">started?</span></h2>
			<p>Sign up here for a quick 15-minute demo</p>
			<a href="#" class="btn">Schedule your demo now {% include icon/arrow-right.html %}</a>
		</header>
	</div>
</section>
