---
layout: default
permalink: why/
title: Why
id: why
---

{% include hero-interior.html %}

<section>

		<div class="row-no-pad grid-center bg-image short">
			<header class="col-12 move" data-move="fadeInUp">
				<img src="/images/coffee-phone.png" alt="coffee phone" />
			</header>
		</div>

		<div class="row grid-spaceAround cta bg-shaded">

			<div class="col-12_md-6_lg-7 grid">

				<div class="col-12">
					<h3>Our Story</h3>
					<p>In 2014, amidst a hectic day, our founder, Bryan ignored a call from a number he didn’t recognize. The number turned out to be the hospital trying to let him know that his dad who had been sick was about to pass. Bryan didn’t make it to the hospital in time. And while he couldn’t rewrite the past, the future was all too clear: In a society where people get hit with a steady stream of phone calls, emails and voicemails, businesses needed a better way to reach people.</p>
				</div>

			</div>

		</div>

		<div class="row-no-pad grid-center bg-image short">
			<div class="col-12 move" data-move="fadeInDown">
				<img src="/images/coffee-phone.png" alt="coffee phone" />
			</div>
		</div>
</section>

<section>

	<div class="row-no-pad grid-equalHeight blocks-full">

				<div class="blockquote col">
					{% include icon/blockquote.html %}
					<blockquote>
						<h4>“Our team brings much more than just incredible technology to the table. We teach our users how to leverage texting so that their customers are truly Captivated.”</h4>
						<!-- <footer>
							— <cite>Bill Skillman,
								<a href="http://www.rayskillman.com/" rel="noopener noreferrer" target="_blank">Ray Skillman Automotive Group</a>
							</cite>
						</footer> -->
					</blockquote>
				</div>

				<div class="section-header-sm col">
					<header>
						<h3>Our Mission</h3>
						<p>Our mission is to bridge the communication gap between businesses and their customers with texting. In a world where texting is the #1 preferred method of communication, Captivated transforms the customer service experience by while increasing sales and loyalty. </p>
					</header>
				</div>

	</div>


</section>

<!-- <section class="bg-shaded ">
		<div class="row grid-middle-center">

			<div class="row section-header grid-center bg-light no-pad">
				<div class="col-12_md-6">
					<h3>Our Story</h3>
				</div>
				<div class="col-12_md-6">
					<h4>Our Story</h4>
					<p>In 2014, amidst a hectic day, our founder, Bryan ignored a call from a number he didn’t recognize. The number turned out to be the hospital trying to let him know that his dad who had been sick was about to pass. </p>
					<p>Bryan didn’t make it to the hospital in time. And while he couldn’t rewrite the past, the future was all too clear: In a society where people get hit with a steady stream of phone calls, emails and voicemails, businesses needed a better way to reach people.</p>
				</div>
				<div class="col-12">
					<h3>Our Misson</h3>
					<p>Bryan didn’t make it to the hospital in time. And while he couldn’t rewrite the past, the future was all too clear: In a society where people get hit with a steady stream of phone calls, emails and voicemails, businesses needed a better way to reach people.</p>
				</div>
				<blockquote>
					“Our team brings much more than just incredible technology to the table. We teach our users how to leverage texting so that their customers are truly Captivated.”
				</blockquote>
			</div>

		</div>
</section> -->
