---
layout: default
permalink: product/features/
title: Features
id: features
---

{% include hero-interior.html %}

<!-- SECTION 3 -->
<section class="hide-overflow">
	<div class="row half-pad grid">
		<div class="col-12_md-12_lg-5">
			<ul class="grid blurbs-left">
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h3>Keep your team on track</h3>
				</li>
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/business-leads.html %} <span>Email Notifications</span></h5>
					<p>To ensure no message slips through the crack.</p>
				</li>

				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/chat-familiarity.html %} <span>Built-in Reminders &amp; Notes</span></h5>
					<p>That only you and your team can see.</p>
				</li>

				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/chart-efficiency.html %} <span>Custom Keyword Automation &amp; Notifications</span></h5>
					<p>To stay on top of what matters most.</p>
				</li>
			</ul>
		</div>
		<div class="col-12_md-12_lg-7 grid">
			<div class="col-0_md-12 move" data-move="fadeInLeft">
				<figure class="device tablet">
						<img src="/images/app/desktop-k12.jpg" alt="captivated dashboard">
				</figure>
			</div>
		</div>
	</div>
	<div class="row grid-row-reverse">
		<div class="col-12_md-12_lg-5">
			<ul class="grid blurbs-right">
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h3>All of your messages in one place</h3>
				</li>
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/business-leads.html %} <span>Smart Message Routing</span></h5>
					<p>Assures you that messages are sent to the right people or departments.</p>
				</li>

				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/chat-familiarity.html %} <span>Process Integration</span></h5>
					<p>Into your custom data and workflows that allows improved employee performance.</p>
				</li>

				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/chart-efficiency.html %} <span>Manage All Teams and Employees</span></h5>
					<p>By creating new users, departments and conversation queues.</p>
				</li>
			</ul>
		</div>
		<div class="col-12_md-12_lg-7 grid">
			<div class="col-0_md-12 move" data-move="fadeInLeft">
				<figure class="device tablet left">
						<img src="/images/app/desktop-members.jpg" alt="captivated dashboard">
				</figure>
			</div>
		</div>
	</div>
</section>
<section >
	<div class="row-no-pad grid-equalHeight blocks-full alt">
		<div class="col move bg-prime" data-move="fadeInLeft">
			<article>
				<h4>"Regardless of what CRM or DMS software you use, Captivated is a game changer.  It allows us to engage with more customers more easily than ever before."</h4>
			</article>
		</div>

		<div class="col move bg-light" data-move="fadeInRight">
			<article>
				<h2><span class="alt">Remote</span> Access</h2>
				<p>Available on any iOS, Android or Desktop device for remote access anywhere.</p>
			</article>
		</div>
	</div>
	<div class="row-no-pad grid-equalHeight-row-reverse blocks-full alt">

		<div class="col move bg-tert" data-move="fadeInRight">
			<article>
				<h4>"Regardless of what CRM or DMS software you use, Captivated is a game changer.  It allows us to engage with more customers more easily than ever before."</h4>
			</article>
		</div>

		<div class="col move bg-light" data-move="fadeInLeft">
			<article>
				<h2>Text to <span class="alt">Pay</span></h2>
				<p>Available on any iOS, Android or Desktop device for remote access anywhere.</p>
			</article>
		</div>
	</div>
</section>

<section>
	<div class="row grid-center">
		<div class="col-12_md-12_lg-8">

			<ul class="grid blurbs-left">
				<li class="blurb col-12 move" data-move="fadeInLeft">
					<h3>A better way to communicate with customers</h3>
				</li>
				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
					<h5>{% include icon/settings-manage-2.html %} <span>Record and store conversations</span></h5>
					<p>So you can keep track of customer communication.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
					<h5>{% include icon/attach-files-2.html %} <span>Digital business cards</span></h5>
					<p>Deliver digital business cards directly to your customer's smartphone so they can quickly connect with you in the future.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
					<h5>{% include icon/car-service.html %} <span>Send pictures, videos and files through messages</span></h5>
					<p>To deliver a multimedia response.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
					<h5>{% include icon/chat-user.html %} <span>Auto-responses</span></h5>
					<p>On hours of operations so customers know when they should expect a text back. </p>
				</li>
			</ul>
		</div>

		<div class="col-0_md-3_lg-4">
			<div class="hide-on-mobile move" data-move="fadeInRight">
				<figure class="device mobile">
						<img src="/images/app/phone-pm-screen.jpg" alt="phone texting">
				</figure>
			</div>
		</div>
	</section>

	<section>
		<div class="row section-header grid-center cta">
			<header  class="col-12_md-9_lg-8 move" data-move="fadeInDown">
				<h2>Ready to get <span class="alt">started</span>?</h2>
				<p>Sign up here for a quick 15-minute demo</p>
				<a href="#" class="btn">Schedule your demo now {% include icon/arrow-right.html %}</a>
			</header>
		</div>
	</section>
