---
layout: default
permalink: product/features/
title: Features
id: features
---

{% include hero-interior.html %}

<!-- SECTION 3 -->
<section class="hide-overflow">
	<div class="row half-pad grid">
		<div class="col-12_md-12_lg-5">
			<ul class="grid blurbs-left">
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h3>Keep your team on track</h3>
				</li>
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/business-leads.html %} <span>Email Notifications</span></h5>
					<p>To ensure no message slips through the crack.</p>
				</li>

				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/chat-familiarity.html %} <span>Built-in Reminders &amp; Notes</span></h5>
					<p>That only you and your team can see.</p>
				</li>

				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/chart-efficiency.html %} <span>Custom Keyword Automation &amp; Notifications</span></h5>
					<p>To stay on top of what matters most.</p>
				</li>
			</ul>
		</div>
		<div class="col-12_md-12_lg-7 grid">
			<div class="col-0_md-12 move" data-move="fadeInLeft">
				<figure class="device tablet">
						<img src="/images/app/desktop-k12.jpg" alt="Captivated dashboard">
				</figure>
			</div>
		</div>
	</div>
	<div class="row grid-row-reverse">
		<div class="col-12_md-12_lg-5">
			<ul class="grid blurbs-right">
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h3>All of your messages in one place</h3>
				</li>
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/business-leads.html %} <span>Smart Message Routing</span></h5>
					<p>Assures you that messages are sent to the right people or departments.</p>
				</li>

				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/chat-familiarity.html %} <span>Process Integration</span></h5>
					<p>Into your custom data and workflows that allows improved employee performance.</p>
				</li>

				<li class="blurb col-12 move" data-move="fadeInRight">
					<h5>{% include icon/chart-efficiency.html %} <span>Manage All Teams and Employees</span></h5>
					<p>By creating new users, departments and conversation queues.</p>
				</li>
			</ul>
		</div>
		<div class="col-12_md-12_lg-7 grid">
			<div class="col-0_md-12 move" data-move="fadeInLeft">
				<figure class="device tablet left">
						<img src="/images/app/desktop-members.jpg" alt="Captivated dashboard">
				</figure>
			</div>
		</div>
	</div>
</section>
<section >
	<div class="row-no-pad grid-equalHeight blocks-full alt">
		<div class="col-12_md-6 move bg-prime" data-move="fadeInLeft">
			<article>
				<h4>"Text messages have a 98% open rate, while email has only a 20% open rate."</h4>
				<p>- Mobile Marketing Watch</p>
			</article>
		</div>

		<div class="col-12_md-6 move bg-light" data-move="fadeInRight">
			<article>
				<h2><span class="alt">Remote</span> Access</h2>
				<p>Available on any iOS, Android or Desktop device for remote access anywhere.</p>
			</article>
		</div>
	</div>
	<div class="row-no-pad grid-equalHeight-row-reverse blocks-full alt">

		<div class="col-12_md-6  move bg-tert" data-move="fadeInRight">
			<article>
				<h4>"90% of all text messages are read in under 3 minutes."</h4>
				<p>- Connect Mogul</p>
			</article>
		</div>

		<div class="col-12_md-6  move bg-light" data-move="fadeInLeft">
			<article>
				<h2>Text to <span class="alt">Pay</span></h2>
				<p>Customers can send mobile payments quickly and conveniently.</p>
			</article>
		</div>
	</div>
</section>

<section>
	<div class="row grid-center">
		<div class="col-12_md-12_lg-8">

			<ul class="grid blurbs-left">
				<li class="blurb col-12 move" data-move="fadeInLeft">
					<h3>A better way to communicate with customers</h3>
				</li>
				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
					<h5>{% include icon/settings-manage-2.html %} <span>Record and store conversations</span></h5>
					<p>So you can keep track of customer communication.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
					<h5>{% include icon/attach-files-2.html %} <span>Digital business cards</span></h5>
					<p>Deliver digital business cards directly to your customer's smartphone so they can quickly connect with you in the future.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
					<h5>{% include icon/car-service.html %} <span>Send pictures, videos and files through messages</span></h5>
					<p>To deliver a multimedia response.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInLeft">
					<h5>{% include icon/chat-user.html %} <span>Auto-responses</span></h5>
					<p>Set expectations on hours of operation so they know when they should expect a text back.</p>
				</li>
			</ul>
		</div>

		<div class="col-0_md-3_lg-4">
			<div class="hide-on-mobile move" data-move="fadeInRight">
				<figure class="device mobile">
						<img src="/images/app/phone-pm-screen.jpg" alt="Captivated mobile application">
				</figure>
			</div>
		</div>

	</div>

		<div class="row no-pad-top grid-center">

			<div class="col-0_md-3_lg-4">
				<div class="hide-on-mobile move" data-move="fadeInLeft">
					<figure class="device mobile">
						<picture>
							<img src="/images/app/phone-catering.jpg" alt="Image of Captivated's mobile app">
						</picture>
					</figure>
				</div>
			</div>

			<div class="col-12_md-12_lg-8 ">
				<ul class="grid blurbs-right">
					<!-- <li class="blurb col-12 move" data-move="fadeInRight">
						<h3>A better way to communicate </h3>
					</li> -->

					<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
						<h5>{% include icon/time-reminders-alerts.html %} <span>Schedule your messages </span></h5>
						<p> Schedule automatic messages that notify customers of their upcoming service. You can even send follow up texts as the time of the appointment nears. </p>
					</li>

					<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
						<h5>{% include icon/cancel-notification.html %} <span>Assign conversations </span></h5>
						<p>Reduce cancellations with confirmation texts from your customers. A quick text back from a client can help you keep a full schedule.</p>
					</li>

					<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
						<h5>{% include icon/attach-files.html %} <span>Send pictures, files and videos </span></h5>
						<p>Will this customer need a loaner vehicle? Will they be staying at the dealership? Do they need a ride from the shuttle? Find out quickly before the customer arrives so you’re ready for their visit.</p>
					</li>

					<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
						<h5>{% include icon/business-card.html %} <span>Deliver digital business cards </span></h5>
						<p>use scheduled messages to automatically follow-up with customers who have declined or postponed a needed repair.</p>
					</li>

					<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
						<h5>{% include icon/text-to-pay-3.html %} <span>Receive customer payments </span></h5>
						<p>use scheduled messages to automatically follow-up with customers who have declined or postponed a needed repair.</p>
					</li>

					<!-- <li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
							<a href="/product/features" class="btn">See more features {% include icon/arrow-right.html %}</a>
					</li> -->

				</ul>

			</div>

		</div>
	</section>

	<section>
		<div class="row section-header grid-center cta">
			<header  class="col-12_md-9_lg-7 move" data-move="fadeInDown">
				<h2>Want to learn <span class="alt">more</span>?</h2>
				<p class="p-large">Discover how Captivated will work for you. Schedule a 20-minute on-Line demonstration or 10 minute discovery.</p>
				<a href="http://demo.captivated.co/"  target="_blank" class="btn">Schedule your demo now {% include icon/arrow-right.html %}</a>
			</header>
		</div>
	</section>
