---
layout: default
permalink: product/how-it-works/
title: How it works
id: how-it-works
---

{% include hero-interior.html %}

<section>
	<div class="row-no-pad grid-center bg-image short">
		<div class="col-12 move" data-move="fadeInUp">
			<img src="/images/how-it-works-banner.jpg" alt="Customer texting through Captivated" />
		</div>
	</div>
</section>

<section>
	<div class="row section-header grid-center bg-shaded">
		<header class="col-12_md-8_lg-7 move" data-move="fadeInUp">
			<h3>Let’s <span>face it</span></h3>
			<p class="p-large">No one picks up their phone anymore.  Robocalls are killing the effectiveness of the telephone.</p>
		</header>
	</div>

	<div class="row-no-pad grid-equalHeight blocks-full">

		<div class="blockquote col-12_md-6 bg-tert move" data-move="fadeIn">
			{% include icon/blockquote.html %}
			<blockquote>
				<h4>“64% of respondents say they NEVER ANSWER calls from unknown numbers.”</h4>
				<footer>
					— <cite>TrueCaller
						<!-- <a href="http://www.rayskillman.com/" rel="noopener noreferrer" target="_blank">Ray Skillman Automotive Group</a> -->
					</cite>
				</footer>
			</blockquote>
		</div>

		<div class="blockquote col-12_md-6 bg-prime move" data-move="fadeIn">
			<blockquote>
				<h4>“Only 1/3 of people will listen to voicemail from business”</h4>
				<footer>
					— <cite>eVoice
						<!-- <a href="http://www.rayskillman.com/" rel="noopener noreferrer" target="_blank">Ray Skillman Automotive Group</a> -->
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</section>

<section >
	<div class="row-no-pad grid-equalHeight blocks-full alt">
		<div class="col move bg-sec" data-move="fadeIn">
			<article>
				<h4>The Icing on the Cake </h4>
				<p>Text is commonly used to quickly talk with friends, co-workers and loved-ones.  With business texting, you can leverage the fact that quick responsive texts back and forth drive trust and create that connected feeling.  If you told your friend, “hey, I know a guy there, let me shoot him a text.” - the immediate response is that you must be close friends. </p>
			</article>
		</div>

		<div class="col move bg-tertDark" data-move="fadeIn">
			<article>
				<h4>No Crystal Ball Required</h4>
				<p>5 years from now texting a business will be commonplace.  What would happen if all of your customers were connected to your business via text?  After all of those one-on-one conversations, wouldn’t they feel more like friends than just names in a database?  </p>
			</article>
		</div>
	</div>
</section>

<section>
	<div class="row grid-center">

		<div class="col-12_md-12 ">
			<ul class="grid blurbs-right">
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h3>5 Simple Steps to Success</h3>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>1</span> <span>Promote a better “Call-to-Action"</span></h5>
					<p>In all of your advertising and marketing and use our website widget to drive additional leads. ~ “For Your Convenience – you can now call or text us at xxx-xxx-xxxx.”</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>2</span> <span>Share your Digital Business Card</span></h5>
					<p>Before during or after the sale / In person or on the phone.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>3</span> <span>Build a Great Experience</span></h5>
					<p>When a new text comes in, who is going to handle it and what options do they have? With Captivated, all conversations can be routed to the right team or right person immediately to give your client the best possible customer experience.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>4</span>  <span>Gain Trust</span></h5>
					<p>Keep your messages short and sweet. Use Captivated for quick and responsive communication with your clients.  No need to write a book.  The goal is to create a trusted conduit for professional &amp; efficient communication.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5><span class='number'>5</span> <span>Be Responsive and Real </span></h5>
					<p>The beauty of Captivated is that it is not a robot. Templates help you save time and the variable data in them such as “salutation” will personalize the conversation keeping them authentic.</p>
				</li>

				<!-- <li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
						<a href="/product/features" class="btn">View our features {% include icon/arrow-right.html %}</a>
				</li> -->

			</ul>

		</div>

	</div>

</section>

<section>
	<div class="row section-header grid-center cta">
		<header  class="col-12_md-11_lg-9 move" data-move="fadeInDown">
			<h2>Ready to get <span>started</span>?</h2>
			<p class="p-large">It is simply a matter of you being an early or late adopter. We suggest early! </p>
			<a href="/get-started/" class="btn">Get Started Today {% include icon/arrow-right.html %}</a>
		</header>
	</div>
</section>
