---
layout: default
permalink: product/how-it-works/
title: How it works
id: how-it-works
---

{% include hero-interior.html %}

<section>
	<div class="row-no-pad grid-center bg-image short">
		<header class="col-12 move" data-move="fadeInUp">
			<img src="/images/markets/auto/01-auto.jpg" alt="" />
		</header>
	</div>
</section>

<section>
	<div class="row section-header grid-center bg-shaded">
		<header class="col-12_md-8_lg-7 move" data-move="fadeInUp">
			<h3>Let’s <span>face it</span></h3>
			<p class="p-large">nobody picks up their phone anymore.  Robocalls are killing the effectiveness of the telephone.</p>
		</header>
	</div>

	<div class="row-no-pad grid-equalHeight blocks-full">

		<div class="blockquote col bg-tert">
			{% include icon/blockquote.html %}
			<blockquote>
				<h4>“64% of respondents say they NEVER ANSWER calls from unknown numbers.”</h4>
				<footer>
					— <cite>TrueCaller
						<!-- <a href="http://www.rayskillman.com/" rel="noopener noreferrer" target="_blank">Ray Skillman Automotive Group</a> -->
					</cite>
				</footer>
			</blockquote>
		</div>

		<div class="blockquote col bg-prime">
			<blockquote>
				<h4>“Only 1/3 of people will listen to voicemail from business”</h4>
				<footer>
					— <cite>eVoice
						<!-- <a href="http://www.rayskillman.com/" rel="noopener noreferrer" target="_blank">Ray Skillman Automotive Group</a> -->
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</section>

<section>
	<div class="row grid-center">

		<div class="col-0_md-3_lg-4">
			<div class="hide-on-mobile move" data-move="fadeInLeft">
				<figure class="device mobile">
					<picture>
						<img src="/images/app/phone-catering.jpg" alt="captivated application">
					</picture>
				</figure>
			</div>
		</div>

		<div class="col-12_md-12_lg-8 ">
			<ul class="grid blurbs-right">
				<li class="blurb col-12 move" data-move="fadeInRight">
					<h3>A better way to communicate </h3>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/time-reminders-alerts.html %} <span>Schedule your messages </span></h5>
					<p> Schedule automatic messages that notify customers of their upcoming service. You can even send follow up texts as the time of the appointment nears. </p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/cancel-notification.html %} <span>Assign conversations </span></h5>
					<p>Reduce cancellations with confirmation texts from your customers. A quick text back from a client can help you keep a full schedule.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/attach-files.html %} <span>Send pictures, files and videos </span></h5>
					<p>Will this customer need a loaner vehicle? Will they be staying at the dealership? Do they need a ride from the shuttle? Find out quickly before the customer arrives so you’re ready for their visit.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/business-card.html %} <span>Deliver digital business cards </span></h5>
					<p>use scheduled messages to automatically follow-up with customers who have declined or postponed a needed repair.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/text-to-pay-3.html %} <span>Receive customer payments </span></h5>
					<p>use scheduled messages to automatically follow-up with customers who have declined or postponed a needed repair.</p>
				</li>

				<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
						<a href="/product/features" class="btn">See more features {% include icon/arrow-right.html %}</a>
				</li>

			</ul>

		</div>

	</div>

</section>

<section>
	<div class="row section-header grid-center">
		<header  class="col-12_md-9_lg-8 move" data-move="fadeInDown">
			<h2>Don't see your customers?</h2>
			<p>Something Something here about having no fear captivated can work for everyone.</p>
			<a href="#" class="btn">Text us to learn more {% include icon/arrow-right.html %}</a>
		</header>
	</div>
</section>
