---
layout: default
permalink: product/markets/
title: Markets
id: markets
---

{% include hero-interior.html %}

<!-- SECTION 2 -->
<section>
	<!-- markets -->
	<div class="row-no-pad">
		<ul class="markets grid-2-equalHeight-spaceBetween move" data-move="fadeIn">

			<li  class="box-size-2">
				<a href="/business-texting-made-easy/">
					<header>
						<h4>Car Owners</h4>
					</header>
					<figure>
						<img src="/images/cv-auto.jpg" alt="" />
						<figcaption>
							<p>
								Crystal Clear Communication. Service writers can send photos and videos to car owners when their car needs a part or service while quickly getting permission to make the fix. A picture is worth 1000 words.
							</p>
							<h5 class="link">learn more</h5>
						</figcaption>
					</figure>
				</a>
			</li>


			<li  class="box-size-3">
				<a href="">
					<header>
						<h4>Restaurant Patron</h4>
					</header>
					<figure>
						<img src="/images/markets/restaurant-patron.jpg" alt="" />
						<figcaption>
							<p>
								Order up! Alert your restaurant patrons when their table or order is ready. Enable them text your restaurant to schedule a reservation.
							</p>
						</figcaption>
					</figure>
				</a>
			</li>

			<li class="box-size-1">
				<a href="/texting-made-easy-for-day-cares-and-preschools/">
					<header>
						<h4>Parents</h4>
					</header>
					<figure>
						<img src="/images/markets/parents.jpg" alt="" />
						<figcaption>
							<p>
								Peace of Mind. Offer working parents an easy way to reach your daycare center or preschool during the workday. Send photos and scheduled messages to update parents while they are away from their child.
							</p>
							<h5 class="link">learn more</h5>
						</figcaption>
					</figure>
				</a>
			</li>

			<li  class="box-size-1">
				<a href="/texting-made-easy-for-medical-offices/">
					<header>
						<h4>Patients</h4>
					</header>
					<figure>
						<img src="/images/markets/patients.jpg" alt="cat" />
						<figcaption>
							<p>
								No more chat tools. Not everyone has a smartphone with access to email or special apps throughout the day, but everyone can receive a text. Text your patients when you need to reach them.
							</p>
							<h5 class="btn-sm link">Learn more</h5>
						</figcaption>
					</figure>

				</a>
			</li>

			<li  class="box-size-1">
				<a href="/texting-made-easy-for-recruiters-and-counselors/">
					<header>
						<h4>Students</h4>
					</header>
					<figure>
						<img src="/images/markets/students.jpg" alt="" />
						<figcaption>
							<p>
								Safety First. Recorded conversations and manager oversight provide a safe system of communication between students and teachers and players and coaches
							</p>
							<h5 class="link">learn more</h5>
						</figcaption>
					</figure>
				</a>
			</li>

			<li  class="box-size-3">
				<a href="/business-texting-made-easy-for-property-management/">
					<header>
						<h4>Tenants</h4>
					</header>
					<figure>
						<img src="/images/markets/AdobeStock_139086828_WM.jpeg" alt="cat" />
						<figcaption>
							<p>
								Worry Free Trips. Send dog moms and dads updates and pictures while they’re out of town, giving them anxiety free travel with minimal interruptions.
							</p>
							<h5 class="link">learn more</h5>
						</figcaption>
					</figure>
				</a>
			</li>

			<li  class="box-size-2">
				<a href="/real-fan-appreciation/">
					<header>
						<h4>Fans</h4>
					</header>
					<figure>
						<img src="/images/cv-fan.jpg" alt="" />
						<figcaption>
							<p>
								The Convenience Factor. Allow fans to reach you quickly with orders and questions. Assign texts from VIPs in hospitality suites to the right team members to give patrons the best customer experience.
							</p>
							<h5 class="link">learn more</h5>
						</figcaption>
					</figure>
				</a>
			</li>


			<li  class="box-size-1">
				<a href="">
					<header>
						<h4>Home Owners</h4>
					</header>
					<figure>
						<img src="/images/cv-home.jpg" alt="" />
						<figcaption>
							<p>
								Goodbye, Voicemail. Confirm homeowners are at home and ready for you to complete an installation or repair. Reach customers quickly instead of them ignoring a call from a number they don’t recognize.
							</p>
							<h5 class="link">learn more</h5>
						</figcaption>
					</figure>
				</a>
			</li>

			<li  class="box-size-1">
				<a href="/business-texting-made-easy-for-pet-grooming-boarding-day-care/">
					<header>
						<h4>Pet Owners</h4>
					</header>
					<figure>
						<img src="/images/cv-pet-owners.jpg" alt="cat" />
						<figcaption>
							<p>
								Worry Free Trips. Send dog moms and dads updates and pictures while they’re out of town, giving them anxiety free travel with minimal interruptions.
							</p>
							<h5 class="link">learn more</h5>
						</figcaption>
					</figure>
				</a>
			</li>

			<li  class="box-size-1">
				<a href="/texting-made-easy-for-recruiters-and-counselors/">
					<header>
						<h4>Prospective Students</h4>
					</header>
					<figure>
						<img src="/images/cv-student-2.jpg" alt="cat" />
						<figcaption>
							<p>
								Worry Free Trips. Send dog moms and dads updates and pictures while they’re out of town, giving them anxiety free travel with minimal interruptions.
							</p>
							<h5 class="link">learn more</h5>
						</figcaption>
					</figure>
				</a>
			</li>


			<li  class="box-size-3">
				<a href="">
					<header>
						<h4>Members</h4>
					</header>
					<figure>
						<img src="/images/cv-class.jpg" alt="" />
						<figcaption>
							<p>
								Touch and Go. Let members text your club to sign up for classes, place orders and schedule lessons. Alert members when their orders are ready. Use scheduled texts to send tee time reminders.
							</p>
						</figcaption>
					</figure>
				</a>
			</li>

		</ul>
	</div>

</section>

<section>
	<div class="row section-header grid-center cta">
		<header  class="col-12_md-9_lg-8 move" data-move="fadeInDown">
			<h2>Ready to get <span class="alt">started?</span></h2>
			<p>Sign up here for a quick 15-minute demo</p>
			<a href="#" class="btn">Schedule your demo now {% include icon/arrow-right.html %}</a>
		</header>
	</div>
</section>
