---
layout: default
permalink: /
title: Captivated Home
id: home
---

{% include hero.html %}

<!-- SECTION 1 -->
<section>
	<div class="row-no-pad grid-center bg-image">
		<div class="col-12 move" data-move="fadeInUp">
			<img src="/images/AdobeStock_71645651_WM.jpeg" alt="captivated app on laptop and phone" />
		</div>
	</div>
	<div class="row-no-pad grid">
	<div class="col-12_md-6">
		<div class="block bg-primeDark">
			<img src="/images/AdobeStock_81488894_WM.jpeg" alt="captivated app on laptop and phone" />
			<header class="col-12 move" data-move="fadeInUp">
				<h3>The <span>ease</span> of texting</h3>
				<p>No app required, frictionless.</p>
			</header>
			<figure class="device device-alt mobile move" data-move="fadeIn">
				<img src="/images/app/phone-text.jpg" alt="phone texting">
			</figure>
			<footer>
				<a href="/product/how-it-works/" class="btn btn-light move" data-move="fadeIn">See how it works
				{% include icon/arrow-right.html %}</a>
			</footer>
		</div>
	</div>

	<div class="col-12_md-6">
		<div class="block bg-tertDark">
			<img src="/images/AdobeStock_131064792_WM.jpeg" alt="captivated app on laptop and phone" />

			<header class="col-12 move" data-move="fadeInUp">
				<h3>The <span>power</span> of Captivated</h3>
				<p>Text using your landline from desktop or app. </p>
			</header>
			<figure class="device device-alt mobile move" data-move="fadeIn">
				<img src="/images/app/phone-pm-screen.jpg" alt="Captivated Application">
			</figure>
			<footer>
				<a href="/product/features/" class="btn btn-light move" data-move="fadeIn">See all features {% include icon/arrow-right.html %}</a>
			</footer>
		</div>
	</div>
</div>
</section>

<!-- SECTION 2 -->
<section>
	<div class="row section-header grid-center move" data-move="fadeInUp">
		<header class="col-12_md-8_lg-7">
			<h3>Who can you <span class="alt">text</span> using Captivated?</h3>
			<p>Captivated works for any type of audience by helping your business save time and improve customer relatons.</p>
		</header>
	</div>

	<!-- markets -->
	<div class="row-no-pad">
		<ul class="markets-simple grid move" data-move="fadeIn">
			<li>
				<a href="">
					<header>
						<h5>Parents</h5>
					</header>
				</a>
			</li>

			<li>
				<a href="/markets/automotive">
					<header>
						<h5>Car Owners</h5>
					</header>
				</a>
			</li>

			<li>
				<a href="">
					<header>
						<h5>Employees</h5>
					</header>
				</a>
			</li>

			<li>
				<a href="">
					<header>
						<h5>Students</h5>
					</header>
				</a>
			</li>

			<li>
				<a href="">
					<header>
						<h5>Members</h5>
					</header>
				</a>
			</li>

			<li>
				<a href="">
					<header>
						<h5>Fans</h5>
					</header>
				</a>
			</li>

			<li>
				<a href="/product/markets" class="btn">
					<header>
						<h5>View all markets</h5>
					</header>
				</a>
			</li>
		</ul>
	</div>
</section>


<!-- SECTION 3 -->
<section>

	<div class="row grid-center">

		<div class="col-0_md-3_lg-4 hide-on-mobile move" data-move="fadeInLeft">
			<figure class="device mobile">
				<img src="/images/app/phone-text.jpg" alt="phone texting">
			</figure>
		</div>

		<ul class="col-12_md-12_lg-8 grid blurbs-right">
			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/business-leads.html %} <span>More Leads</span></h5>
				<p>Receive texts directly from your website or from any of your landline or toll-free numbers.</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/chat-familiarity.html %} <span>Greater Convenience</span></h5>
				<p>Americans prefer texting to phone calls 5 to 1—so do your customers</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/chart-efficiency.html %} <span>Improved Efficiency</span></h5>
				<p>The average customer responds to an email in 90 minutes and a text in 90 seconds</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/chat-user.html %} <span>Better Engagement</span></h5>
				<p>Texting provides an engagement rate that’s 6 times better than emai</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/user-engagement.html %} <span>More Familiarity </span></h5>
				<p>Communicate with customers in real-time the same way they would with family and friends</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/increase-revenue.html %} <span>Increased Revenue</span></h5>
				<p>Greater customer engagement and retention equal more sales opportunities; and more sales opportunities and happier customers equal greater revenue.</p>
			</li>

			<!-- <li class="blurb blurb_cta col-12_md-6_lg-6 move" data-move="fadeInRight">
				<a href="/features/" class="btn">View features</a>
			</li> -->

		</ul>

	</div>

</section>

<!-- SECTION 4 -->
<section class="bg-shaded">

	<div class="row grid-spaceAround cta">

		<div class="col-12_md-6_lg-5 grid bg-light cta-card">

			<div class="col-12-top section-header-sm move" data-move="fadeInUp">
				<h3>Schedule a Demo</h3>
				<p class="accent no-pad">Learn more by contacting us for a quick 15 minute demo.</p>
			</div>

			<div class="col-12-bottom move" data-move="fadeIn">
				<a href="#" class="btn">Schedule a demo {% include icon/arrow-right.html %}</a>
			</div>

		</div>

		<div class="col-12_md-6_lg-5 grid bg-light cta-card">

			<div class="col-12-top section-header-sm move" data-move="fadeInUp">
				<h3>Check out our Blog</h3>
				<p class="accent">Learn more about how Captivated is the new category of real-time engagement for business.</p>
			</div>

			<div class="col-12-bottom move" data-move="fadeIn">
				<a href="#" class="btn">Visit the blog {% include icon/arrow-right.html %}</a>
			</div>

		</div>

	</div>

</section>


{% include overlay-video.html %}
