---
layout: default
permalink: /
title: Captivated Home
id: home
---

{% include hero.html %}

<!-- SECTION 1 -->
<section>
	<div class="row-no-pad grid-center bg-image">
		<div class="col-12 move" data-move="fadeInUp">
			<img src="/images/banner-1.jpg" alt="captivated app on laptop and phone" />
		</div>
	</div>
	<div class="row bg-sec grid">
		<header class="col-12_md-8_lg-5 move" data-move="fadeInDown">
			<h2>What is <span>Captivated</span>?</h2>
			<p class="p-large accent">Captivated is business texting software that enables your team to send and receive texts all through the same number, allowing your customers to reach you in a way that’s convenient for them.</p>
		</header>
		<!-- <div class="col-12_md-4_lg-7">
			<p>1,2,3 graphic here</p>
		</div> -->
	</div>
</section>

<!-- SECTION 2 -->
<section>
	<div class="row section-header grid-center">
		<header class="col-12_md-8_lg-7 move" data-move="fadeInDown">
			<h2>Who can you <span class="alt">text</span> using Captivated?</h2>
			<p class="p-large accent">Captivated works for any type of audience by helping your business save time and improve customer relatons.</p>
		</header>
	</div>

	<!-- markets -->
	<div class="row-no-pad">
			<ul class="markets grid-2-equalHeight-spaceBetween move" data-move="fadeInUp">
				<li>
					<a href="">
					<header>
						<h4>Parents</h4>
					</header>
					<figure>
						<img src="/images/markets/parents.jpg" alt="" />
						<figcaption>
							<p>
								Peace of Mind. Offer working parents an easy way to reach your daycare center or preschool during the workday. Send photos and scheduled messages to update parents while they are away from their child.
							</p>
						</figcaption>
					</figure>
				 </a>
				</li>

				<li>
					<a href="">
					<header>
						<h4>Restaurant Patron</h4>
					</header>
					<figure>
						<img src="/images/markets/restaurant-patrons.jpg" alt="" />
						<figcaption>
							<p>
								Order up! Alert your restaurant patrons when their table or order is ready. Enable them text your restaurant to schedule a reservation.
							</p>
						</figcaption>
					</figure>
				 </a>
				</li>

					<li>
						<a href="/markets/automotive">
						<header>
							<h4>Car Owners</h4>
						</header>
						<figure>
							<img src="/images/cv-auto.jpg" alt="" />
							  <figcaption>
									<p>
										Crystal Clear Communication. Service writers can send photos and videos to car owners when their car needs a part or service while quickly getting permission to make the fix. A picture is worth 1000 words.
									</p>
									<!-- <h5 class="link">learn more</h5> -->
								</figcaption>
						</figure>
					 </a>
					</li>

					<li>
						<a href="">
						<header>
							<h4>Employees</h4>
						</header>
						<figure>
							<img src="/images/markets/employees.jpg" alt="cat" />
							<figcaption>
								<p>
									No more chat tools. Not everyone has a smartphone with access to email or special apps throughout the day, but everyone can receive a text. Text your employees when you need to reach them.
								</p>
							</figcaption>
						</figure>
					 </a>
					</li>

					<li>
						<a href="">
						<header>
							<h4>Students</h4>
						</header>
						<figure>
							<img src="/images/markets/students.jpg" alt="" />
							<figcaption>
								<p>
									Safety First. Recorded conversations and manager oversight provide a safe system of communication between students and teachers and players and coaches
								</p>
							</figcaption>
						</figure>
					 </a>
					</li>

					<li>
						<a href="">
						<header>
							<h4>Members</h4>
						</header>
						<figure>
							<img src="/images/cv-class.jpg" alt="" />
							<figcaption>
								<p>
									Touch and Go. Let members text your club to sign up for classes, place orders and schedule lessons. Alert members when their orders are ready. Use scheduled texts to send tee time reminders.
								</p>
							</figcaption>
						</figure>
					 </a>
					</li>

					<li>
						<a href="">
						<header>
							<h4>Fans</h4>
						</header>
						<figure>
							<img src="/images/cv-fan.jpg" alt="" />
							<figcaption>
								<p>
									The Convenience Factor. Allow fans to reach you quickly with orders and questions. Assign texts from VIPs in hospitality suites to the right team members to give patrons the best customer experience.
								</p>
							</figcaption>
						</figure>
					 </a>
					</li>


					<li>
						<a href="">
						<header>
							<h4>Home Owners</h4>
						</header>
						<figure>
							<img src="/images/cv-home.jpg" alt="" />
							<figcaption>
								<p>
									Goodbye, Voicemail. Confirm homeowners are at home and ready for you to complete an installation or repair. Reach customers quickly instead of them ignoring a call from a number they don’t recognize.
								</p>
							</figcaption>
						</figure>
					 </a>
					</li>

					<li>
						<a href="">
						<header>
								<h4>Pet Owners</h4>
						</header>
						<figure>
							<img src="/images/cv-pet-owners.jpg" alt="cat" />
							<figcaption>
								<p>
									Worry Free Trips. Send dog moms and dads updates and pictures while they’re out of town, giving them anxiety free travel with minimal interruptions.
								</p>
							</figcaption>
						</figure>
					 </a>
					</li>

					<li>
						<a href="">
						<header>
							<h4>Prospective Students</h4>
						</header>
						<figure>
							<img src="/images/cv-student-2.jpg" alt="cat" />
							<figcaption>
								<p>
									Worry Free Trips. Send dog moms and dads updates and pictures while they’re out of town, giving them anxiety free travel with minimal interruptions.
								</p>
							</figcaption>
						</figure>
					 </a>
					</li>

			</ul>
	</div>

</section>


<!-- SECTION 3 -->
<section>

		<div class="row grid-center">

		<div class="col-0_md-3_lg-4 hide-on-mobile move" data-move="fadeInLeft">
			<figure class="device mobile">
				<img src="/images/app/phone-text.jpg" alt="phone texting">
			</figure>
		</div>

		<ul class="col-12_md-12_lg-8 grid blurbs-right">
			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/business-leads.html %} <span>More Leads</span></h5>
					<p>Receive texts directly from your website or from any of your landline or toll-free numbers.</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/chat-familiarity.html %} <span>Greater Convenience</span></h5>
					<p>Americans prefer texting to phone calls 5 to 1—so do your customers</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/chart-efficiency.html %} <span>Improved Efficiency</span></h5>
					<p>The average customer responds to an email in 90 minutes and a text in 90 seconds</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/chat-user.html %} <span>Better Engagement</span></h5>
				<p>Texting provides an engagement rate that’s 6 times better than emai</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/user-engagement.html %} <span>More Familiarity </span></h5>
					<p>Communicate with customers in real-time the same way they would with family and friends</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
					<h5>{% include icon/increase-revenue.html %} <span>Increased Revenue</span></h5>
					<p>Greater customer engagement and retention equal more sales opportunities; and more sales opportunities and happier customers equal greater revenue.</p>
			</li>

			<li class="blurb blurb_cta col-12_md-6_lg-6 move" data-move="fadeInRight">
					<a href="/features/" class="btn">View features</a>
			</li>

		</ul>

	</div>

</section>

<!-- SECTION 4 -->
<section class="bg-shaded">

		<div class="row grid-spaceAround cta">

				<div class="col-12_md-6_lg-5 grid">

					<div class="col-12-top section-header-sm move" data-move="fadeInUp">
						<h3>Contact us</h3>
						<p class="accent no-pad">We run our business using Captivated because it works. Have a question or want a quick 15 minute demo?</p>
					</div>

					<div class="col-12-bottom move" data-move="fadeIn">
						<a href="#" class="btn">Text Us</a>
					</div>

				</div>

				<div class="col-12_md-6_lg-5 grid">

					<div class="col-12-top section-header-sm move" data-move="fadeInUp">
						<h3>Check out our blog</h3>
						<p class="accent">We run our business using Captivated because it works. Have a question or want a quick 15 minute demo? - Text Us at 317-316-3188</p>
					</div>

					<div class="col-12-bottom move" data-move="fadeIn">
						<a href="#" class="btn">Visit the blog</a>
					</div>

				</div>

		</div>

</section>


{% include overlay-video.html %}
