---
layout: default
permalink: /
title: Captivated Customer - Text Messaging Solution
id: home
---

{% include hero.html %}

<!-- SECTION 1 -->
<section>
	<div class="row-no-pad grid-center bg-image">
		<div class="col-12 move" data-move="fadeInUp">
			<img src="/images/home-banner.jpg" alt="Customer texting a business" />
		</div>
	</div>
	<div class="row-no-pad grid">
	<div class="col-12_md-6">
		<div class="block bg-primeDark">
			<img src="/images/man-texting.jpg" alt="Customer texting Captivated app" />
			<header class="col-12 move" data-move="fadeInUp">
				<h3>The ease of texting</h3>
				<p>No app required, frictionless.</p>
			</header>
			<figure class="device device-alt mobile move" data-move="fadeIn">
				<img src="/images/app/phone-text-2.jpg" alt="Texting on mobile phone">
			</figure>
			<footer>
				<a href="/product/how-it-works/" class="btn btn-light move" data-move="fadeIn">See how it works
				{% include icon/arrow-right.html %}</a>
			</footer>
		</div>
	</div>

	<div class="col-12_md-6">
		<div class="block bg-tertDark">
			<img src="/images/woman-on-computer.jpg" alt="Employee texting a customer through the Captivated app" />

			<header class="col-12 move" data-move="fadeInUp">
				<h3>The power of Captivated</h3>
				<p>Text using your landline from desktop or app. </p>
			</header>
			<figure class="device device-alt mobile move" data-move="fadeIn">
				<img src="/images/app/phone-pm-screen.jpg" alt="Captivated Application">
			</figure>
			<footer>
				<a href="/product/features/" class="btn btn-light move" data-move="fadeIn">See all features {% include icon/arrow-right.html %}</a>
			</footer>
		</div>
	</div>
</div>
</section>

<!-- SECTION 2 -->
<section>
	<div class="row section-header  bg-light grid-center move" data-move="fadeInUp">
		<header class="col-12_md-8_lg-6">
			<img src="/images/logo-mark.png" alt="Captivated logo" class="logo-mark">
			<h3><span class="alt">Who</span> can you text using Captivated?</h3>
			<p class="p-large">Captivated works for any type of audience by helping your business save time and improve customer relations.</p>
			<a href="/product/markets" class="btn">
			View all markets {% include icon/arrow-right.html %}
		</a>
		</header>

		<ul class="people-icons col-12">
			<li class="move" data-move="scale-up-center">{% include icon/users/business-woman.html %}</li>
			<li class="move" data-move="scale-up-center">{% include icon/users/salesman.html %}</li>
			<li class="move" data-move="scale-up-center">{% include icon/users/restaurants.html %}</li>
			<li class="move" data-move="scale-up-center">{% include icon/users/medic.html %}</li>
			<li class="move" data-move="scale-up-center">{% include icon/users/worker.html %}</li>
			<li class="move" data-move="scale-up-center">{% include icon/users/student.html %}</li>
			<li class="move" data-move="scale-up-center">{% include icon/users/hotels.html %}</li>
			<li class="move" data-move="scale-up-center">{% include icon/users/batman.html %}</li>
		</ul>
	</div>
	<div class="row-no-pad  grid-center move" data-move="fadeIn">
</section>

<!-- SECTION 3 -->
<section>
	<div class="row section-header grid-center move" data-move="fadeInUp">
		<header class="col-12_md-8_lg-7">
			<h3><span class="alt">Why</span> Captivated?</h3>
			<p class="p-large">The best way to reach someone quickly is via text. With Captivated, When a text comes in, it is easily transferred to an employee like a phone call. The benefit, no hold time and the contact is immediately engaged in the person that can help them.</p>
		</header>
	</div>
	<div class="row grid-center">
		<ul class="col-12_md-12_lg-12 grid blurbs-right">
			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/business-leads.html %} <span>More Leads</span></h5>
				<p>Receive texts directly from your website or from any of your landline or toll-free numbers.</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/chat-familiarity.html %} <span>Greater Convenience</span></h5>
				<p>Americans prefer texting to phone calls 5 to 1—so do your customers</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/chart-efficiency.html %} <span>Improved Efficiency</span></h5>
				<p>The average customer responds to an email in 90 minutes and a text in 90 seconds</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/chat-user.html %} <span>Better Engagement</span></h5>
				<p>Texting provides an engagement rate that’s 6 times better than emai</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/user-engagement.html %} <span>More Familiarity </span></h5>
				<p>Communicate with customers in real-time the same way they would with family and friends</p>
			</li>

			<li class="blurb col-12_md-6_lg-6 move" data-move="fadeInRight">
				<h5>{% include icon/increase-revenue.html %} <span>Increased Revenue</span></h5>
				<p>Greater customer engagement and retention equal more sales opportunities; and more sales opportunities and happier customers equal greater revenue.</p>
			</li>

			<!-- <li class="blurb blurb_cta col-12_md-6_lg-6 move" data-move="fadeInRight">
				<a href="/features/" class="btn">View features</a>
			</li> -->

		</ul>

	</div>

</section>

<!-- SECTION 4 -->
<section class="bg-shaded">

	<div class="row grid-spaceAround cta cta-cards">

		<div class="col-12_md-6_lg-5 grid bg-light cta-card">

			<div class="col-12-top section-header-sm move" data-move="fadeInUp">
				<h3>Schedule a Demo</h3>
				<p class="accent no-pad">Discover how Captivated will work for you. Schedule a 20-minute on-Line demonstration or 10 minute discovery.</p>
			</div>

			<div class="col-12-bottom move" data-move="fadeIn">
				<a href="http://demo.captivated.co/" target="_blank" class="btn">Schedule now {% include icon/arrow-right.html %}</a>
			</div>

		</div>

		<div class="col-12_md-6_lg-5 grid bg-light cta-card">

			<div class="col-12-top section-header-sm move" data-move="fadeInUp">
				<h3>Check out our Blog</h3>
				<p class="accent">Learn more about how Captivated is the new category of real-time engagement for business.</p>
			</div>

			<div class="col-12-bottom move" data-move="fadeIn">
				<a href="http://captivated.works/blog" class="btn" target="_blank">Visit the blog {% include icon/arrow-right.html %}</a>
			</div>

		</div>

	</div>

</section>


{% include overlay-video.html %}
