// ALL COLORS FOR EVERYTHING SHOULD BE SPECIFIED IN THIS FILE


// COLOR
$primeLight  : #28ba29; // light green
$primeDark	 : #0ca10d;	// dark green

$secLight    : #44C4E7;  //Light blue
$secDark     : #00A1C6;  //dark blue

$tertLight   : #3a4150;	//darker  blue
$tertDark    : #313947;	//darkest blue

$linkLight   : #ef6f31;	//light orange
$linkDark    : #e26223;	//dark orange

$grayLight   : #F5F5F5;
$grayDark    : #BDBDBD;

$lightest    : #fff;
$darkest     : #222;

$font        : #999999;

// colors in sections are based off background color or section 


// bg-light
.bg-light {
	color: $tertLight;

	.box {
		background-color: $grayLight;
	}
}


// bg-shaded
.bg-shaded {
	background-color: $grayLight;
	color: $tertLight;

	.section-header h2 {
	}
}

.bg-dark {
	background-color: $tertLight;
		
	* {
		color: #fff;
	}
}


.bg-blue {
	background-color: $secDark;
	color: $secLight;

	p {
		color: #fff;
	}

	h6 {
	color: #fff;
	}
}

