// ALL COLORS FOR EVERYTHING SHOULD BE SPECIFIED IN THIS FILE


// COLOR
$primeLight  : #28ba29; // light green
$primeDark	 : #0ca10d;	// dark green

$secLight    : #44C4E7;  //Light blue
$secDark     : #00A1C6;  //dark blue

$tertLight   : #3a4150;	//darker  blue
$tertDark    : #313947;	//darkest blue

$linkLight   : #ef6f31;	//light orange
$linkDark    : #e26223;	//dark orange

$grayLight   : #F5F5F5;
$grayDark    : #BDBDBD;

$lightest    : #fefefe;
$darkest     : #222;

$font        : #999999;

// colors in sections are based off background color or section

h1, h2, h3, h4, h5, label, p, a, span, li {
	color: $tertDark;
}



// bg-light
.bg-light {
	color: $tertLight;

	.box {
		background-color: $grayLight;
	}
}


// bg-shaded
.bg-shaded {
	background-color: $grayLight;
	color: $tertLight;

	.section-header h2 {
	}
}



// here is where you set high level styles
// for items on certain background colors

.bg-tert {
	background-color: $tertLight;

	* {
		color: #fff;
	}
}

.bg-tertDark {
	background-color: $tertDark;

	* {
		color: #fff;
	}
}

.bg-prime {
	background-color: $primeLight;

	* {
		color: #fff;
	}
}

.bg-sec {
	background-color: $secLight;

	* {
		color: #fff;
	}
}

.bg-secDark {
	background-color: $secDark;

	* {
		color: #fff;
	}
}

.bg-link {
	background-color: $linkLight;

	* {
		color: #fff;
	}
}
