@mixin transition() {
	transition: all .2s 0s cubic-bezier(0.48, 0, 0.52, 0.98);
}


@mixin transition-slow() {
	transition: all .6s 0s cubic-bezier(0.48, 0, 0.52, 0.98);

}

@mixin transition-nav() {
transition: all .5s 0s cubic-bezier(0.42, 0.2, 0.6, 0.98);
}

@mixin center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 100%;
	min-width: 100%;
}

@mixin center-horizontal() {
	left: 50%;
	transform: translateX(-50%) scale(1);
}

@mixin center-horizontal-scale() {
	left: 50%;
	transform: translateX(-50%) scale(.9);
}
