// fonts
$fontSize        : 1rem;

/* layout element heights */
$navHeight       : 70px;
$mbnavHeight     : 50px;

/* menu-icon-width */
$hamburgerWidth  : 38px;
$hamburgerHeight : 38px;

/* menu-icon-width */
$MBhamburgerWidth  : 28px;
$MBhamburgerHeight : 28px;

/* theme-btn-width */
$themeBtnWidth   : 20px;
$themeBtnHeight  : 20px;

/* utility variables */
$borderRadius    : 1px;
$btnBorderRadius : 5px;

$radius         : 3px;

// media query variables
$viewport-xl	 : 1500px;
$viewport-lg	 : 1000px;
$viewport-med	 : 768px;
$viewport-sm	 : 600px;

// media queries
$media-xl		 : "screen and (min-width : #{$viewport-xl})";
$media-lg		 : "screen and (min-width : #{$viewport-lg})";
$media-med	 : "screen and (min-width : #{$viewport-med})";
$media-sm		 : "screen and (min-width : #{$viewport-sm})";

// to use a media query
// @media #{$media-xl} {

// }
